
        
        /* SpriteSheet */
        /* SpriteSheet */
        /* SpriteSheet */
        
        .alert_icons > div {
            background: url('./alert_icons.png');
            background-origin: border-box;
            image-rendering: pixelated;
        }

        /* general sizing */
        /* general sizing */
        /* general sizing */

        .super>div,
        .boss>div,
        .normal>div {
            transform-origin: 0 0;
            position: absolute;
        }

        .normal>div {
            transform: scale(2);
        }

        .boss.super>div {
            transform: scale(7);
        }

        .boss>div {
            transform: scale(2.5);
        }

        .super.boss.look-right>div,
        .normal.look-right>div,
        .boss.look-right>div {
            transform-origin: right top;
        }

        .normal.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(2);
        }

        .boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(2.5);
        }

        .super.boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(7);
        }

        .smooth,
        .smooth>div {
            transition: all 2s;
        }
             
        
        /* Static Sprites */
        /* Static Sprites */
        /* Static Sprites */
        
        
            .alerted > div {
                background-position: -2px -0px;
                width: 14px;
                height: 32px;
            }
        

            .sleeping > div {
                background-position: -19px -0px;
                width: 24px;
                height: 32px;
            }
        
        
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
                
         .normal.alerted {
                height: 64px; width: 28px;
            }
 .boss.alerted {
                height: 80px; width: 35px;
            }
 .boss.super.alerted {
                height: 224px; width: 98px;
            }
 .normal.sleeping {
                height: 64px; width: 48px;
            }
 .boss.sleeping {
                height: 80px; width: 60px;
            }
 .boss.super.sleeping {
                height: 224px; width: 168px;
            } 

        