/*  
 Computer Generated CSS, 
 See README.md on how to (re)-generate 
*/

.common_floor_objects>div:first-child {
    background: url('./common_floor_objects.png');
    background-origin: border-box;
    image-rendering: pixelated;
    z-index: 1;
}


/* 
general sizing 
general sizing 
general sizing 
*/


/* 
fix container sizes 
*/

.fsc3 {
    height: 72px !important;
    width: 72px !important;
}


/* 
plts = [p]osition [l]eft [t]op, [s]cale  
*/

.plts3>div:first-child {
    transform-origin: 0 0;
    transform: scale(3);
    position: absolute;
    left: 0;
    top: 0;
}


/* 
pccs  =[p]osition [c]enter [c]enter, [s]cale  
*/

.pccs3>div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(3);
    position: absolute;
    left: 50%;
    top: 50%;
}


/* 
pxcbXpsY = [p]osition [xc]enter [b]ottom[Xp]ercent, [s]cale [Y] 
*/

.pxcb3s30>div:first-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) scale(3);
    position: absolute;
    left: 50%;
    bottom: 30%; //outline: 1px solid orangered;
}

.shadow3s12p5>div:last-child {
    background: url('./shadow.png');
    background-origin: border-box;
    background-position: -0px -0px;
    /**/
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(0) scale(3);
    /**/
    width: 24px;
    height: 10px;
    left: 50%;
    bottom: 12.5%;
    /**/
    image-rendering: pixelated;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}


/* 
Static Sprites
Static Sprites 
Static Sprites 
*/

.safe>div:first-child {
    background-position: -0px -0px;
    width: 24px;
    height: 24px;
}

.safe_open>div:first-child {
    background-position: -24px -0px;
    width: 24px;
    height: 24px;
}

.carpet_red>div:first-child {
    background-position: -48px -0px;
    width: 72px;
    height: 72px;
}

.carpet_blue>div:first-child {
    background-position: -120px -0px;
    width: 72px;
    height: 72px;
}

.dungeon_entrance>div:first-child {
    background-position: -192px -0px;
    width: 24px;
    height: 24px;
}

.shrine>div:first-child {
    background-position: -48px -72px;
    width: 24px;
    height: 24px;
}

.shrine_disabled>div:first-child {
    background-position: -72px -72px;
    width: 24px;
    height: 24px;
}

.star_block>div:first-child {
    background-position: -96px -72px;
    width: 24px;
    height: 24px;
}

.star_block_disabled>div:first-child {
    background-position: -120px -72px;
    width: 24px;
    height: 24px;
}

.moon_block_disabled>div:first-child {
    background-position: -144px -72px;
    width: 24px;
    height: 24px;
}

.moon_block>div:first-child {
    background-position: -168px -72px;
    width: 24px;
    height: 24px;
}

.fountain_empty>div:first-child {
    background-position: -0px -96px;
    width: 24px;
    height: 24px;
}

.sign>div:first-child {
    background-position: -72px -96px;
    width: 24px;
    height: 24px;
}

.quest_stone_disabled>div:first-child {
    background-position: -168px -96px;
    width: 24px;
    height: 24px;
}

.carpet_red_horizontal>div:first-child {
    background-position: -0px -120px;
    width: 72px;
    height: 48px;
}

.carpet_blue_horizontal>div:first-child {
    background-position: -72px -120px;
    width: 72px;
    height: 48px;
}

.carpet_red_square>div:first-child {
    background-position: -144px -120px;
    width: 48px;
    height: 48px;
}

.carpet_blue_square>div:first-child {
    background-position: -0px -168px;
    width: 48px;
    height: 48px;
}

.hazard_spikes>div:first-child {
    background-position: -192px -48px;
    width: 23px;
    height: 23px;
}

.hazard_trap>div:first-child {
    background-position: -216px -48px;
    width: 22px;
    height: 23px;
}


/* 
  expanded sizes
  expanded sizes
  expanded sizes 
*/

.plts3.carpet_red,
.plts3.carpet_blue {
    height: 216px;
    width: 216px;
}

.plts3.carpet_red_horizontal,
.plts3.carpet_blue_horizontal {
    height: 144px;
    width: 216px;
}

.plts3.carpet_red_square,
.plts3.carpet_blue_square {
    height: 144px;
    width: 144px;
}

.plts3.hazard_spikes {
    height: 69px;
    width: 69px;
}

.plts3.hazard_trap {
    height: 69px;
    width: 66px;
}


/* Animations */


/* Animations */


/* Animations */

.fountain_mana>div:first-child {
    animation-name: fountain_mana;
    animation-duration: 250ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes fountain_mana {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -72px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -72px;
    }
}

.fountain_hp>div:first-child {
    animation-name: fountain_hp;
    animation-duration: 300ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes fountain_hp {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -48px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -48px;
    }
}

.teleportation>div:first-child {
    animation-name: teleportation;
    animation-duration: 400ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes teleportation {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -24px -96px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -48px -96px;
    }
}

.quest_stone>div:first-child {
    animation-name: quest_stone;
    animation-duration: 750ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes quest_stone {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -96px -96px;
    }
    33% {
        width: 24px;
        height: 24px;
        background-position: -120px -96px;
    }
    67% {
        width: 24px;
        height: 24px;
        background-position: -144px -96px;
    }
}

.candles>div:first-child {
    animation-name: candles;
    animation-duration: 400ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite; //animation-play-state:paused;
    //outline: 1px red solid;
}

@keyframes candles {
    from,
    to {
        width: 21px;
        height: 24px;
        background-position: -193px -24px;
    }
    50% {
        width: 21px;
        height: 24px;
        background-position: -217px -24px;
    }
}