
/*  
   Computer Generated CSS, 
   See README.md on how to (re)-generate 
*/


.common_items > div:first-child {
   background: url('./common_items.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/* 
fix container size scale 3 
*/    
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}        


/* 
plts3 = [p]osition [l]eft [t]op, [s]cale 3 
*/
.plts3 > div:first-child {
   transform-origin: 0 0;
   transform: scale(3);
   position: absolute;
   left: 0;
   top: 0;
}


/* 
 pccs  =[p]osition [c]enter [c]enter, [s]cale  
*/

.pccs3 > div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(3);
    position: absolute;
    left: 50%;
    top: 50%;
}


/* 
 xcbXsY = [p]osition [xc]enter [b]ottom[Xp]ercent, [s]cale [Y] 
*/

.pxcb3s30 > div:first-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(0) scale(3);
    position: absolute;
    left: 50%;
    bottom: 30%;
}


.shadow2p5s20 > div:last-child {
    background: url('./shadow.png');
    background-origin: border-box;
    background-position: -0px -0px;
    /* */
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(0) scale(2.5);
    /* */
    width: 24px;
    height: 10px;
    left: 50%;
    bottom: 15%;
    /* */
    image-rendering: pixelated;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}


/* 
Static Sprites
Static Sprites 
Static Sprites 
*/        


.mana_tube > div:first-child {
   background-position: -0px -0px;
   width: 16px;
   height: 16px;
}


.magic_tube > div:first-child {
   background-position: -16px -0px;
   width: 16px;
   height: 16px;
}


.hp_tube > div:first-child {
   background-position: -32px -0px;
   width: 16px;
   height: 16px;
}


.extralife_tube > div:first-child {
   background-position: -48px -0px;
   width: 16px;
   height: 16px;
}


.defense_tube > div:first-child {
   background-position: -64px -0px;
   width: 16px;
   height: 16px;
}


.area38 > div:first-child {
   background-position: -80px -0px;
   width: 16px;
   height: 16px;
}


.mana_bottle > div:first-child {
   background-position: -96px -0px;
   width: 16px;
   height: 16px;
}


.magic_bottle > div:first-child {
   background-position: -112px -0px;
   width: 16px;
   height: 16px;
}


.hp_bottle > div:first-child {
   background-position: -128px -0px;
   width: 16px;
   height: 16px;
}


.extralife_bottle > div:first-child {
   background-position: -144px -0px;
   width: 16px;
   height: 16px;
}


.area43 > div:first-child {
   background-position: -160px -0px;
   width: 16px;
   height: 16px;
}


.area44 > div:first-child {
   background-position: -176px -0px;
   width: 16px;
   height: 16px;
}


.mana_elixir > div:first-child {
   background-position: -192px -0px;
   width: 16px;
   height: 16px;
}


.magic_elixir > div:first-child {
   background-position: -208px -0px;
   width: 16px;
   height: 16px;
}


.hp_elixir > div:first-child {
   background-position: -224px -0px;
   width: 16px;
   height: 16px;
}


.extralife_elixir > div:first-child {
   background-position: -0px -112px;
   width: 16px;
   height: 16px;
}


.area49 > div:first-child {
   background-position: -16px -112px;
   width: 16px;
   height: 16px;
}


.defense_elixir > div:first-child {
   background-position: -32px -112px;
   width: 16px;
   height: 16px;
}


.area51 > div:first-child {
   background-position: -48px -112px;
   width: 16px;
   height: 16px;
}


.area52 > div:first-child {
   background-position: -64px -112px;
   width: 16px;
   height: 16px;
}


.area53 > div:first-child {
   background-position: -80px -112px;
   width: 16px;
   height: 16px;
}


.area54 > div:first-child {
   background-position: -96px -112px;
   width: 16px;
   height: 16px;
}


.chicken_leg > div:first-child {
   background-position: -112px -112px;
   width: 16px;
   height: 16px;
}


.half_eaten_chicken_leg > div:first-child {
   background-position: -128px -112px;
   width: 16px;
   height: 16px;
}


.fish > div:first-child {
   background-position: -144px -112px;
   width: 16px;
   height: 16px;
}


.egg > div:first-child {
   background-position: -160px -112px;
   width: 16px;
   height: 16px;
}


.cheese > div:first-child {
   background-position: -176px -112px;
   width: 16px;
   height: 16px;
}


.rotten_cheese > div:first-child {
   background-position: -192px -112px;
   width: 16px;
   height: 16px;
}


.apple > div:first-child {
   background-position: -208px -112px;
   width: 16px;
   height: 16px;
}


.beer > div:first-child {
   background-position: -224px -112px;
   width: 16px;
   height: 16px;
}


.quest_item_9 > div:first-child {
   background-position: -0px -16px;
   width: 16px;
   height: 16px;
}


.quest_item_10 > div:first-child {
   background-position: -16px -16px;
   width: 16px;
   height: 16px;
}


.quest_item_11 > div:first-child {
   background-position: -32px -16px;
   width: 16px;
   height: 16px;
}


.quest_item_12 > div:first-child {
   background-position: -48px -16px;
   width: 16px;
   height: 16px;
}


.quest_item_13 > div:first-child {
   background-position: -64px -16px;
   width: 16px;
   height: 16px;
}


.quest_item_14 > div:first-child {
   background-position: -80px -16px;
   width: 16px;
   height: 16px;
}


.treasure_stone_1 > div:first-child {
   background-position: -96px -16px;
   width: 16px;
   height: 16px;
}


.treasure_stone_2 > div:first-child {
   background-position: -112px -16px;
   width: 16px;
   height: 16px;
}


.treasure_stone_3 > div:first-child {
   background-position: -128px -16px;
   width: 16px;
   height: 16px;
}


.treasure_stone_4 > div:first-child {
   background-position: -144px -16px;
   width: 16px;
   height: 16px;
}


.treasure_stone_5 > div:first-child {
   background-position: -160px -16px;
   width: 16px;
   height: 16px;
}


.treasure_stone_6 > div:first-child {
   background-position: -176px -16px;
   width: 16px;
   height: 16px;
}


.treasure_stone_7 > div:first-child {
   background-position: -192px -16px;
   width: 16px;
   height: 16px;
}


.dark_potion_tube > div:first-child {
   background-position: -208px -16px;
   width: 16px;
   height: 16px;
}


.dark_potion_bottle > div:first-child {
   background-position: -224px -16px;
   width: 16px;
   height: 16px;
}


.dark_potion_elixir > div:first-child {
   background-position: -240px -32px;
   width: 16px;
   height: 16px;
}


.milk > div:first-child {
   background-position: -240px -0px;
   width: 16px;
   height: 16px;
}


.water > div:first-child {
   background-position: -240px -16px;
   width: 16px;
   height: 16px;
}


.page_white > div:first-child {
   background-position: -0px -32px;
   width: 16px;
   height: 16px;
}


.page_brown > div:first-child {
   background-position: -16px -32px;
   width: 16px;
   height: 16px;
}


.page_black > div:first-child {
   background-position: -32px -32px;
   width: 16px;
   height: 16px;
}


.page_yellow > div:first-child {
   background-position: -48px -32px;
   width: 16px;
   height: 16px;
}


.page_cream > div:first-child {
   background-position: -64px -32px;
   width: 16px;
   height: 16px;
}


.treasure_rubi_1 > div:first-child {
   background-position: -160px -32px;
   width: 16px;
   height: 16px;
}


.treasure_rubi_2 > div:first-child {
   background-position: -176px -32px;
   width: 16px;
   height: 16px;
}


.treasure_rubi_3 > div:first-child {
   background-position: -192px -32px;
   width: 16px;
   height: 16px;
}


.treasure_rubi_4 > div:first-child {
   background-position: -208px -32px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_1 > div:first-child {
   background-position: -224px -32px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_2 > div:first-child {
   background-position: -0px -80px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_3 > div:first-child {
   background-position: -16px -80px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_4 > div:first-child {
   background-position: -32px -80px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_5 > div:first-child {
   background-position: -48px -80px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_6 > div:first-child {
   background-position: -64px -80px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_7 > div:first-child {
   background-position: -80px -80px;
   width: 16px;
   height: 16px;
}


.treasure_pendant_8 > div:first-child {
   background-position: -96px -80px;
   width: 16px;
   height: 16px;
}


.book_brown > div:first-child {
   background-position: -0px -48px;
   width: 16px;
   height: 16px;
}


.book_black > div:first-child {
   background-position: -16px -48px;
   width: 16px;
   height: 16px;
}


.book_torned > div:first-child {
   background-position: -32px -48px;
   width: 16px;
   height: 16px;
}


.book_skill > div:first-child {
   background-position: -48px -48px;
   width: 16px;
   height: 16px;
}


.book_green > div:first-child {
   background-position: -64px -48px;
   width: 16px;
   height: 16px;
}


.area134 > div:first-child {
   background-position: -80px -48px;
   width: 16px;
   height: 16px;
}


.gold_3 > div:first-child {
   background-position: -96px -48px;
   width: 16px;
   height: 16px;
}


.gold_6 > div:first-child {
   background-position: -112px -48px;
   width: 16px;
   height: 16px;
}


.gold_10 > div:first-child {
   background-position: -128px -48px;
   width: 16px;
   height: 16px;
}


.area138 > div:first-child {
   background-position: -144px -48px;
   width: 16px;
   height: 16px;
}


.area139 > div:first-child {
   background-position: -160px -48px;
   width: 16px;
   height: 16px;
}


.area140 > div:first-child {
   background-position: -176px -48px;
   width: 16px;
   height: 16px;
}


.area141 > div:first-child {
   background-position: -192px -48px;
   width: 16px;
   height: 16px;
}


.area142 > div:first-child {
   background-position: -208px -48px;
   width: 16px;
   height: 16px;
}


.area143 > div:first-child {
   background-position: -224px -48px;
   width: 16px;
   height: 16px;
}


.area161 > div:first-child {
   background-position: -0px -64px;
   width: 16px;
   height: 16px;
}


.area162 > div:first-child {
   background-position: -16px -64px;
   width: 16px;
   height: 16px;
}


.area163 > div:first-child {
   background-position: -32px -64px;
   width: 16px;
   height: 16px;
}


.area164 > div:first-child {
   background-position: -48px -64px;
   width: 16px;
   height: 16px;
}


.area165 > div:first-child {
   background-position: -64px -64px;
   width: 16px;
   height: 16px;
}


.quest_item_5 > div:first-child {
   background-position: -80px -64px;
   width: 16px;
   height: 16px;
}


.area167 > div:first-child {
   background-position: -96px -64px;
   width: 16px;
   height: 16px;
}


.area168 > div:first-child {
   background-position: -112px -64px;
   width: 16px;
   height: 16px;
}


.area169 > div:first-child {
   background-position: -128px -64px;
   width: 16px;
   height: 16px;
}


.area170 > div:first-child {
   background-position: -144px -64px;
   width: 16px;
   height: 16px;
}


.area171 > div:first-child {
   background-position: -160px -64px;
   width: 16px;
   height: 16px;
}


.area172 > div:first-child {
   background-position: -176px -64px;
   width: 16px;
   height: 16px;
}


.area173 > div:first-child {
   background-position: -192px -64px;
   width: 16px;
   height: 16px;
}


.area174 > div:first-child {
   background-position: -208px -64px;
   width: 16px;
   height: 16px;
}


.area175 > div:first-child {
   background-position: -224px -64px;
   width: 16px;
   height: 16px;
}


.area176 > div:first-child {
   background-position: -112px -80px;
   width: 16px;
   height: 16px;
}


.square_gem_1 > div:first-child {
   background-position: -128px -80px;
   width: 16px;
   height: 16px;
}


.square_gem_2 > div:first-child {
   background-position: -144px -80px;
   width: 16px;
   height: 16px;
}


.square_gem_3 > div:first-child {
   background-position: -160px -80px;
   width: 16px;
   height: 16px;
}


.square_gem_4 > div:first-child {
   background-position: -176px -80px;
   width: 16px;
   height: 16px;
}


.square_gem_5 > div:first-child {
   background-position: -192px -80px;
   width: 16px;
   height: 16px;
}


.square_gem_6 > div:first-child {
   background-position: -208px -80px;
   width: 16px;
   height: 16px;
}


.quest_item_1 > div:first-child {
   background-position: -0px -96px;
   width: 16px;
   height: 16px;
}


.quest_item_2 > div:first-child {
   background-position: -16px -96px;
   width: 16px;
   height: 16px;
}


.quest_item_3 > div:first-child {
   background-position: -32px -96px;
   width: 16px;
   height: 16px;
}


.area228 > div:first-child {
   background-position: -48px -96px;
   width: 16px;
   height: 16px;
}


.area229 > div:first-child {
   background-position: -64px -96px;
   width: 16px;
   height: 16px;
}


.key_item1 > div:first-child {
   background-position: -80px -96px;
   width: 16px;
   height: 16px;
}


.key_item2 > div:first-child {
   background-position: -96px -96px;
   width: 16px;
   height: 16px;
}


.key_item6 > div:first-child {
   background-position: -112px -96px;
   width: 16px;
   height: 16px;
}


.key_item4 > div:first-child {
   background-position: -128px -96px;
   width: 16px;
   height: 16px;
}


.key_item5 > div:first-child {
   background-position: -144px -96px;
   width: 16px;
   height: 16px;
}


.key_item3 > div:first-child {
   background-position: -160px -96px;
   width: 16px;
   height: 16px;
}


.area236 > div:first-child {
   background-position: -176px -96px;
   width: 16px;
   height: 16px;
}


.area237 > div:first-child {
   background-position: -192px -96px;
   width: 16px;
   height: 16px;
}


.area238 > div:first-child {
   background-position: -208px -96px;
   width: 16px;
   height: 16px;
}


.quest_item_4 > div:first-child {
   background-position: -224px -96px;
   width: 16px;
   height: 16px;
}


.lantern_of_all_light > div:first-child {
   background-position: -80px -32px;
   width: 16px;
   height: 16px;
}


.quest_item_6 > div:first-child {
   background-position: -96px -32px;
   width: 16px;
   height: 16px;
}


.quest_item_7 > div:first-child {
   background-position: -112px -32px;
   width: 16px;
   height: 16px;
}


.quest_item_8 > div:first-child {
   background-position: -128px -32px;
   width: 16px;
   height: 16px;
}


/* 
Expanded sizes
Expanded sizes
Expanded sizes 
*/      




