
        
        /* SpriteSheet */
        /* SpriteSheet */
        /* SpriteSheet */
        
        .cursor > div {
            background: url('./cursor.png');
            background-origin: border-box;
            image-rendering: pixelated;
        }

        /* general sizing */
        /* general sizing */
        /* general sizing */

        .super>div,
        .boss>div,
        .normal>div {
            transform-origin: 0 0;
        }

        .normal>div {
            transform: scale(3);
        }

        .boss>div {
            transform: scale(3.75);
        }

        .boss.super>div {
            transform: scale(10.5);
        }


        .super.boss.look-right>div,
        .normal.look-right>div,
        .boss.look-right>div {
            transform-origin: right top;
        }

        .normal.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(3);
        }

        .boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(3.75);
        }

        .super.boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(10.5);
        }

        .smooth,
        .smooth>div {
            transition: all 2s;
        }
             
        
        /* Static Sprites */
        /* Static Sprites */
        /* Static Sprites */
        
        
            .cursor > div {
                background-position: -0px -4px;
                width: 60px;
                height: 53px;
            }
        

            .cursor_click > div {
                background-position: -63px -7px;
                width: 61px;
                height: 52px;
            }
        

            .cursor_attack > div {
                background-position: -4px -58px;
                width: 58px;
                height: 51px;
            }
        
        
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
                
         .normal.cursor {
                height: 159px; width: 180px;
            }
 .boss.cursor {
                height: 198.75px; width: 225px;
            }
 .boss.super.cursor {
                height: 556.5px; width: 630px;
            }
 .normal.cursor_click {
                height: 156px; width: 183px;
            }
 .boss.cursor_click {
                height: 195px; width: 228.75px;
            }
 .boss.super.cursor_click {
                height: 546px; width: 640.5px;
            }
 .normal.cursor_attack {
                height: 153px; width: 174px;
            }
 .boss.cursor_attack {
                height: 191.25px; width: 217.5px;
            }
 .boss.super.cursor_attack {
                height: 535.5px; width: 609px;
            } 

        