
/*
   Computer Generated CSS,
   See README.md on how to (re)-generate
*/


.cursor > div:first-child {
   background: url('./cursor.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/*
fix container size scale 3
*/
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}


/*
fix container size scale 1
*/
.fsc1 {
    height: 24px !important;
    width: 24px !important;
}


/*
plts3 = [p]osition [l]eft [t]op, [s]cale 3
*/
.plts3 > div:first-child {
   transform-origin: 0 0;
   transform: scale(3);
   position: absolute;
   left: 0;
   top: 0;
}


/*
plts1 = [p]osition [l]eft [t]op, [s]cale 1
*/
.plts1 > div:first-child {
   transform-origin: 0 0;
   transform: scale(1);
   position: absolute;
   left: 0;
   top: 0;
}


/*
Static Sprites
Static Sprites
Static Sprites
*/


  .cursor > div:first-child {
     background-position: -0px -4px;
     width: 60px;
     height: 53px;
  }
  

  .cursor_click > div:first-child {
     background-position: -63px -7px;
     width: 61px;
     height: 52px;
  }
  

  .cursor_attack > div:first-child {
     background-position: -4px -58px;
     width: 58px;
     height: 51px;
  }
  

/*
Expanded sizes
Expanded sizes
Expanded sizes
*/


.plts3.cursor {
    height: 159px;
      width: 180px;
}


.plts3.cursor_click {
    height: 156px;
      width: 183px;
}


.plts3.cursor_attack {
    height: 153px;
      width: 174px;
}


.plts1.cursor {
    height: 53px;
      width: 60px;
}


.plts1.cursor_click {
    height: 52px;
      width: 61px;
}


.plts1.cursor_attack {
    height: 51px;
      width: 58px;
}
