
        
        /* SpriteSheet */
        /* SpriteSheet */
        /* SpriteSheet */
        
        .cursor > div {
            background: url('./cursor.png');
            background-origin: border-box;
            image-rendering: pixelated;
        }

        /* general sizing */
        /* general sizing */
        /* general sizing */

        .super>div,
        .boss>div,
        .normal>div {
            transform-origin: 0 0;
            position: absolute;
        }

        .normal>div {
            transform: scale(2);
        }

        .boss.super>div {
            transform: scale(7);
        }

        .boss>div {
            transform: scale(2.5);
        }

        .super.boss.look-right>div,
        .normal.look-right>div,
        .boss.look-right>div {
            transform-origin: right top;
        }

        .normal.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(2);
        }

        .boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(2.5);
        }

        .super.boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(7);
        }

        .smooth,
        .smooth>div {
            transition: all 2s;
        }
             
        
        /* Static Sprites */
        /* Static Sprites */
        /* Static Sprites */
        
        
            .cursor > div {
                background-position: -0px -4px;
                width: 60px;
                height: 53px;
            }
        

            .cursor_click > div {
                background-position: -63px -7px;
                width: 61px;
                height: 52px;
            }
        

            .cursor_attack > div {
                background-position: -4px -58px;
                width: 58px;
                height: 51px;
            }
        
        
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
                
         .normal.cursor {
                height: 106px; width: 120px;
            }
 .boss.cursor {
                height: 132.5px; width: 150px;
            }
 .boss.super.cursor {
                height: 371px; width: 420px;
            }
 .normal.cursor_click {
                height: 104px; width: 122px;
            }
 .boss.cursor_click {
                height: 130px; width: 152.5px;
            }
 .boss.super.cursor_click {
                height: 364px; width: 427px;
            }
 .normal.cursor_attack {
                height: 102px; width: 116px;
            }
 .boss.cursor_attack {
                height: 127.5px; width: 145px;
            }
 .boss.super.cursor_attack {
                height: 357px; width: 406px;
            } 

        