
            /*  Computer Generated CSS, */
            
            
        
        /* SpriteSheet */
        /* SpriteSheet */
        /* SpriteSheet */
        
        .dungeon_objects > div {
            background: url('./dungeon_objects.png');
            background-origin: border-box;
            image-rendering: pixelated;
        }

        /* general sizing */
        /* general sizing */
        /* general sizing */

        .super>div,
        .boss>div,
        .normal>div {
            transform-origin: 0 0;
        }

        .normal>div {
            transform: scale(2.5);
        }

        .boss.super>div {
            transform: scale(3.125);
        }

        .boss>div {
            transform: scale(8.75);
        }

        .super.boss.look-right>div,
        .normal.look-right>div,
        .boss.look-right>div {
            transform-origin: right top;
        }

        .normal.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(2.5);
        }

        .boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(3.125);
        }

        .super.boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(8.75);
        }

        .smooth,
        .smooth>div {
            transition: all 2s;
        }
             
        
        /* Static Sprites */
        /* Static Sprites */
        /* Static Sprites */
        
        
            .bookshelf_1_searched > div {
                background-position: -0px -0px;
                width: 24px;
                height: 24px;
            }
        

            .bookshelf_2_searched > div {
                background-position: -24px -0px;
                width: 24px;
                height: 24px;
            }
        

            .bookshelf_1 > div {
                background-position: -48px -0px;
                width: 24px;
                height: 24px;
            }
        

            .bookshelf_2 > div {
                background-position: -72px -0px;
                width: 24px;
                height: 24px;
            }
        

            .table_1 > div {
                background-position: -96px -0px;
                width: 24px;
                height: 24px;
            }
        

            .table_2 > div {
                background-position: -120px -0px;
                width: 24px;
                height: 24px;
            }
        

            .table_broken > div {
                background-position: -186px -0px;
                width: 24px;
                height: 24px;
            }
        

            .box_1 > div {
                background-position: -144px -0px;
                width: 21px;
                height: 24px;
            }
        

            .box_1_broken > div {
                background-position: -165px -0px;
                width: 21px;
                height: 24px;
            }
        

            .vase_1 > div {
                background-position: -1px -25px;
                width: 17px;
                height: 22px;
            }
        

            .vase_2 > div {
                background-position: -19px -25px;
                width: 16px;
                height: 22px;
            }
        

            .vase_1_broken > div {
                background-position: -36px -32px;
                width: 16px;
                height: 15px;
            }
        

            .vase_3 > div {
                background-position: -53px -25px;
                width: 17px;
                height: 22px;
            }
        

            .vase_4 > div {
                background-position: -71px -25px;
                width: 16px;
                height: 22px;
            }
        

            .vase_3_broken > div {
                background-position: -88px -32px;
                width: 16px;
                height: 15px;
            }
        

            .statue_1 > div {
                background-position: -147px -24px;
                width: 23px;
                height: 24px;
            }
        

            .statue_broken > div {
                background-position: -171px -33px;
                width: 23px;
                height: 15px;
            }
        

            .statue_2 > div {
                background-position: -194px -24px;
                width: 24px;
                height: 24px;
            }
        

            .statue_3 > div {
                background-position: -218px -24px;
                width: 24px;
                height: 24px;
            }
        

            .monument_1 > div {
                background-position: -0px -48px;
                width: 24px;
                height: 24px;
            }
        

            .monument_2 > div {
                background-position: -24px -48px;
                width: 24px;
                height: 24px;
            }
        

            .monument_broken > div {
                background-position: -48px -48px;
                width: 24px;
                height: 24px;
            }
        

            .monument_3 > div {
                background-position: -72px -48px;
                width: 24px;
                height: 24px;
            }
        

            .monument_4 > div {
                background-position: -96px -48px;
                width: 24px;
                height: 24px;
            }
        

            .grave_1 > div {
                background-position: -105px -96px;
                width: 24px;
                height: 24px;
            }
        

            .grave_2 > div {
                background-position: -129px -96px;
                width: 24px;
                height: 24px;
            }
        

            .grave_broken > div {
                background-position: -153px -96px;
                width: 24px;
                height: 24px;
            }
        

            .vase_5 > div {
                background-position: -1px -74px;
                width: 17px;
                height: 22px;
            }
        

            .vase_6 > div {
                background-position: -19px -74px;
                width: 16px;
                height: 22px;
            }
        

            .vase_7 > div {
                background-position: -1px -98px;
                width: 17px;
                height: 22px;
            }
        

            .vase_8 > div {
                background-position: -19px -98px;
                width: 16px;
                height: 22px;
            }
        

            .vase_9 > div {
                background-position: -53px -98px;
                width: 17px;
                height: 22px;
            }
        

            .vase_10 > div {
                background-position: -71px -98px;
                width: 16px;
                height: 22px;
            }
        

            .vase_5_broken > div {
                background-position: -36px -81px;
                width: 16px;
                height: 15px;
            }
        

            .vase_7_broken > div {
                background-position: -36px -105px;
                width: 16px;
                height: 15px;
            }
        

            .vase_9_broken > div {
                background-position: -88px -105px;
                width: 16px;
                height: 15px;
            }
        

            .barril_2 > div {
                background-position: -160px -72px;
                width: 20px;
                height: 24px;
            }
        

            .barril_1 > div {
                background-position: -139px -72px;
                width: 20px;
                height: 24px;
            }
        

            .barril_broken > div {
                background-position: -181px -82px;
                width: 19px;
                height: 14px;
            }
        

            .coffin_01 > div {
                background-position: -56px -72px;
                width: 19px;
                height: 24px;
            }
        

            .coffin_open_01 > div {
                background-position: -76px -72px;
                width: 19px;
                height: 24px;
            }
        

            .coffin_02 > div {
                background-position: -96px -72px;
                width: 22px;
                height: 24px;
            }
        

            .coffin_open_02 > div {
                background-position: -119px -72px;
                width: 19px;
                height: 24px;
            }
        
        
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
                
         .normal.bookshelf_1_searched,
.normal.bookshelf_2_searched,
.normal.bookshelf_1,
.normal.bookshelf_2,
.normal.table_1,
.normal.table_2,
.normal.table_broken,
.normal.statue_2,
.normal.statue_3,
.normal.monument_1,
.normal.monument_2,
.normal.monument_broken,
.normal.monument_3,
.normal.monument_4,
.normal.grave_1,
.normal.grave_2,
.normal.grave_broken {
                height: 60px; width: 60px;
            }
 .boss.bookshelf_1_searched,
.boss.bookshelf_2_searched,
.boss.bookshelf_1,
.boss.bookshelf_2,
.boss.table_1,
.boss.table_2,
.boss.table_broken,
.boss.statue_2,
.boss.statue_3,
.boss.monument_1,
.boss.monument_2,
.boss.monument_broken,
.boss.monument_3,
.boss.monument_4,
.boss.grave_1,
.boss.grave_2,
.boss.grave_broken {
                height: 75px; width: 75px;
            }
 .boss.super.bookshelf_1_searched,
.boss.super.bookshelf_2_searched,
.boss.super.bookshelf_1,
.boss.super.bookshelf_2,
.boss.super.table_1,
.boss.super.table_2,
.boss.super.table_broken,
.boss.super.statue_2,
.boss.super.statue_3,
.boss.super.monument_1,
.boss.super.monument_2,
.boss.super.monument_broken,
.boss.super.monument_3,
.boss.super.monument_4,
.boss.super.grave_1,
.boss.super.grave_2,
.boss.super.grave_broken {
                height: 210px; width: 210px;
            }
 .normal.box_1,
.normal.box_1_broken {
                height: 60px; width: 52.5px;
            }
 .boss.box_1,
.boss.box_1_broken {
                height: 75px; width: 65.625px;
            }
 .boss.super.box_1,
.boss.super.box_1_broken {
                height: 210px; width: 183.75px;
            }
 .normal.vase_1,
.normal.vase_3,
.normal.vase_5,
.normal.vase_7,
.normal.vase_9 {
                height: 55px; width: 42.5px;
            }
 .boss.vase_1,
.boss.vase_3,
.boss.vase_5,
.boss.vase_7,
.boss.vase_9 {
                height: 68.75px; width: 53.125px;
            }
 .boss.super.vase_1,
.boss.super.vase_3,
.boss.super.vase_5,
.boss.super.vase_7,
.boss.super.vase_9 {
                height: 192.5px; width: 148.75px;
            }
 .normal.vase_2,
.normal.vase_4,
.normal.vase_6,
.normal.vase_8,
.normal.vase_10 {
                height: 55px; width: 40px;
            }
 .boss.vase_2,
.boss.vase_4,
.boss.vase_6,
.boss.vase_8,
.boss.vase_10 {
                height: 68.75px; width: 50px;
            }
 .boss.super.vase_2,
.boss.super.vase_4,
.boss.super.vase_6,
.boss.super.vase_8,
.boss.super.vase_10 {
                height: 192.5px; width: 140px;
            }
 .normal.vase_1_broken,
.normal.vase_3_broken,
.normal.vase_5_broken,
.normal.vase_7_broken,
.normal.vase_9_broken {
                height: 37.5px; width: 40px;
            }
 .boss.vase_1_broken,
.boss.vase_3_broken,
.boss.vase_5_broken,
.boss.vase_7_broken,
.boss.vase_9_broken {
                height: 46.875px; width: 50px;
            }
 .boss.super.vase_1_broken,
.boss.super.vase_3_broken,
.boss.super.vase_5_broken,
.boss.super.vase_7_broken,
.boss.super.vase_9_broken {
                height: 131.25px; width: 140px;
            }
 .normal.statue_1 {
                height: 60px; width: 57.5px;
            }
 .boss.statue_1 {
                height: 75px; width: 71.875px;
            }
 .boss.super.statue_1 {
                height: 210px; width: 201.25px;
            }
 .normal.statue_broken {
                height: 37.5px; width: 57.5px;
            }
 .boss.statue_broken {
                height: 46.875px; width: 71.875px;
            }
 .boss.super.statue_broken {
                height: 131.25px; width: 201.25px;
            }
 .normal.barril_2,
.normal.barril_1 {
                height: 60px; width: 50px;
            }
 .boss.barril_2,
.boss.barril_1 {
                height: 75px; width: 62.5px;
            }
 .boss.super.barril_2,
.boss.super.barril_1 {
                height: 210px; width: 175px;
            }
 .normal.barril_broken {
                height: 35px; width: 47.5px;
            }
 .boss.barril_broken {
                height: 43.75px; width: 59.375px;
            }
 .boss.super.barril_broken {
                height: 122.5px; width: 166.25px;
            }
 .normal.coffin_01,
.normal.coffin_open_01,
.normal.coffin_open_02 {
                height: 60px; width: 47.5px;
            }
 .boss.coffin_01,
.boss.coffin_open_01,
.boss.coffin_open_02 {
                height: 75px; width: 59.375px;
            }
 .boss.super.coffin_01,
.boss.super.coffin_open_01,
.boss.super.coffin_open_02 {
                height: 210px; width: 166.25px;
            }
 .normal.coffin_02 {
                height: 60px; width: 55px;
            }
 .boss.coffin_02 {
                height: 75px; width: 68.75px;
            }
 .boss.super.coffin_02 {
                height: 210px; width: 192.5px;
            } 

        
            
            /* Animations */
            /* Animations */
            /* Animations */
            
             .campfire > div {
                    animation-name: campfire;
                    animation-duration: 800ms;
                    animation-delay: 0ms;
                    animation-timing-function: steps(1);
                    animation-iteration-count: infinite;
                }
                @keyframes campfire {
                     
                from, to {
                    width: 20px;
                    height: 22px;
                    background-position: -105px -26px;
                }
                
 
                50% {
                    width: 20px;
                    height: 22px;
                    background-position: -126px -26px;
                }
                
                }
            
            
            /* Animation Sizes */
            /* Animation Sizes */
            /* Animation Sizes */
            
             .normal.campfire {
                height: 44px; width: 40px;
            }

 .boss.campfire {
                height: 55px; width: 50px;
            }

 .boss.super.campfire {
                height: 154px; width: 140px;
            }
        