/*  Computer Generated CSS, */


/* SpriteSheet */
/* SpriteSheet */
/* SpriteSheet */

.dungeon_objects>div:first-child {
    background: url('./dungeon_objects.png');
    background-origin: border-box;
    image-rendering: pixelated;
    z-index: 1;
}

.dungeon_objects>div:last-child {
    background: url('./shadow.png');
    background-origin: border-box;
    image-rendering: pixelated;
    z-index: 0;
}


/* general sizing */
/* general sizing */
/* general sizing */


/* fix container on 72 = ( 3*24 ) px */

.fsc3 {
    height: 72px !important;
    width: 72px !important;
}


/* plts3 = [p]osition [l]eft [t]op, [s]cale 3 */

.plts3>div:first-child {
    transform-origin: 0 0;
    transform: scale(3);
    position: absolute;
    left: 0;
    top: 0;
}


/* pccs3  =[p]osition [c]enter [c]enter, [s]cale [3] */

.pccs3>div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(3);
    position: absolute;
    left: 50%;
    top: 50%;
}


/* pxcb30ps3 = [p]osition [xc]enter [b]ottom[30p]ercent, [s]cale [3] */

.pxcb30ps3>div:first-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) scale(3);
    position: absolute;
    left: 50%;
    bottom: 30%;
}

.pxcb30ps3>div:first-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(0) scale(3);
    position: absolute;
    left: 50%;
    bottom: 30%;
}

.pxcb30ps3>div:last-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(0) scale(3);
    background-position: -0px -0px;
    width: 24px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 12.5%;
    opacity: 0.5;
}

/* Static Sprites */
/* Static Sprites */
/* Static Sprites */

.bookshelf_1_searched>div:first-child {
    background-position: -0px -0px;
    width: 24px;
    height: 24px;
}

.bookshelf_2_searched>div:first-child {
    background-position: -24px -0px;
    width: 24px;
    height: 24px;
}

.bookshelf_1>div:first-child {
    background-position: -48px -0px;
    width: 24px;
    height: 24px;
}

.bookshelf_2>div:first-child {
    background-position: -72px -0px;
    width: 24px;
    height: 24px;
}

.table_1>div:first-child {
    background-position: -96px -0px;
    width: 24px;
    height: 24px;
}

.table_2>div:first-child {
    background-position: -120px -0px;
    width: 24px;
    height: 24px;
}

.table_broken>div:first-child {
    background-position: -186px -0px;
    width: 24px;
    height: 24px;
}

.box_1>div:first-child {
    background-position: -144px -0px;
    width: 21px;
    height: 24px;
}

.box_1_broken>div:first-child {
    background-position: -165px -0px;
    width: 21px;
    height: 24px;
}

.vase_1>div:first-child {
    background-position: -1px -25px;
    width: 17px;
    height: 22px;
}

.vase_2>div:first-child {
    background-position: -19px -25px;
    width: 16px;
    height: 22px;
}

.vase_1_broken>div:first-child {
    background-position: -36px -32px;
    width: 16px;
    height: 15px;
}

.vase_3>div:first-child {
    background-position: -53px -25px;
    width: 17px;
    height: 22px;
}

.vase_4>div:first-child {
    background-position: -71px -25px;
    width: 16px;
    height: 22px;
}

.vase_3_broken>div:first-child {
    background-position: -88px -32px;
    width: 16px;
    height: 15px;
}

.statue_1>div:first-child {
    background-position: -147px -24px;
    width: 23px;
    height: 24px;
}

.statue_broken>div:first-child {
    background-position: -171px -33px;
    width: 23px;
    height: 15px;
}

.statue_2>div:first-child {
    background-position: -194px -24px;
    width: 24px;
    height: 24px;
}

.statue_3>div:first-child {
    background-position: -218px -24px;
    width: 24px;
    height: 24px;
}

.monument_1>div:first-child {
    background-position: -0px -48px;
    width: 24px;
    height: 24px;
}

.monument_2>div:first-child {
    background-position: -24px -48px;
    width: 24px;
    height: 24px;
}

.monument_broken>div:first-child {
    background-position: -48px -48px;
    width: 24px;
    height: 24px;
}

.monument_3>div:first-child {
    background-position: -72px -48px;
    width: 24px;
    height: 24px;
}

.monument_4>div:first-child {
    background-position: -96px -48px;
    width: 24px;
    height: 24px;
}

.grave_1>div:first-child {
    background-position: -105px -96px;
    width: 24px;
    height: 24px;
}

.grave_2>div:first-child {
    background-position: -129px -96px;
    width: 24px;
    height: 24px;
}

.grave_broken>div:first-child {
    background-position: -153px -96px;
    width: 24px;
    height: 24px;
}

.vase_5>div:first-child {
    background-position: -1px -74px;
    width: 17px;
    height: 22px;
}

.vase_6>div:first-child {
    background-position: -19px -74px;
    width: 16px;
    height: 22px;
}

.vase_7>div:first-child {
    background-position: -1px -98px;
    width: 17px;
    height: 22px;
}

.vase_8>div:first-child {
    background-position: -19px -98px;
    width: 16px;
    height: 22px;
}

.vase_9>div:first-child {
    background-position: -53px -98px;
    width: 17px;
    height: 22px;
}

.vase_10>div:first-child {
    background-position: -71px -98px;
    width: 16px;
    height: 22px;
}

.vase_5_broken>div:first-child {
    background-position: -36px -81px;
    width: 16px;
    height: 15px;
}

.vase_7_broken>div:first-child {
    background-position: -36px -105px;
    width: 16px;
    height: 15px;
}

.vase_9_broken>div:first-child {
    background-position: -88px -105px;
    width: 16px;
    height: 15px;
}

.barril_2>div:first-child {
    background-position: -160px -72px;
    width: 20px;
    height: 24px;
}

.barril_1>div:first-child {
    background-position: -139px -72px;
    width: 20px;
    height: 24px;
}

.barril_broken>div:first-child {
    background-position: -181px -82px;
    width: 19px;
    height: 14px;
}

.coffin_01>div:first-child {
    background-position: -56px -72px;
    width: 19px;
    height: 24px;
}

.coffin_open_01>div:first-child {
    background-position: -76px -72px;
    width: 19px;
    height: 24px;
}

.coffin_02>div:first-child {
    background-position: -96px -72px;
    width: 22px;
    height: 24px;
}

.coffin_open_02>div:first-child {
    background-position: -119px -72px;
    width: 19px;
    height: 24px;
}


/* Static Sprites Sizes */


/* Static Sprites Sizes */


/* Static Sprites Sizes */

.fsc3.bookshelf_1_searched,
.fsc3.bookshelf_2_searched,
.fsc3.bookshelf_1,
.fsc3.bookshelf_2,
.fsc3.table_1,
.fsc3.table_2,
.fsc3.table_broken,
.fsc3.statue_2,
.fsc3.statue_3,
.fsc3.monument_1,
.fsc3.monument_2,
.fsc3.monument_broken,
.fsc3.monument_3,
.fsc3.monument_4,
.fsc3.grave_1,
.fsc3.grave_2,
.fsc3.grave_broken {
    height: 72px;
    width: 72px;
}

.fsc3.box_1,
.fsc3.box_1_broken {
    height: 72px;
    width: 72px;
}


.pxcb30ps3.vase_1,
.pxcb30ps3.vase_3,
.pxcb30ps3.vase_5,
.pxcb30ps3.vase_7,
.pxcb30ps3.vase_9 {
    height: 72px;
    width: 72px;
}

.pxcb30ps3.vase_2,
.pxcb30ps3.vase_4,
.pxcb30ps3.vase_6,
.pxcb30ps3.vase_8,
.pxcb30ps3.vase_10 {
    height: 72px;
    width: 72px;
}

.fsc3.vase_1_broken,
.fsc3.vase_3_broken,
.fsc3.vase_5_broken,
.fsc3.vase_7_broken,
.fsc3.vase_9_broken,
.fsc3.statue_1,
.fsc3.statue_broken,
.fsc3.barril_2,
.fsc3.barril_1,
.fsc3.barril_broken,
.fsc3.coffin_01,
.fsc3.coffin_02,
.fsc3.coffin_open_01,
.fsc3.coffin_open_02 {
    height: 72px;
    width: 72px;
}


/* Animations */


/* Animations */


/* Animations */

.campfire>div:first-child {
    animation-name: campfire;
    animation-duration: 800ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes campfire {
    from,
    to {
        width: 20px;
        height: 22px;
        background-position: -105px -26px;
    }
    50% {
        width: 20px;
        height: 22px;
        background-position: -126px -26px;
    }
}


/* Animation Sizes */


/* Animation Sizes */


/* Animation Sizes */

.fsc3.campfire {
    height: 72px;
    width: 72px;
}

.boss.campfire {
    height: 82.5px;
    width: 75px;
}

.boss.super.campfire {
    height: 231px;
    width: 210px;
}