
/*  
   Computer Generated CSS, 
   See README.md on how to (re)-generate 
*/


.equipment > div:first-child {
   background: url('./equipment.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/* 
fix container size scale 3 
*/    
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}        


/* 
 xcbXsY = [p]osition [xc]enter [b]ottom[Xp]ercent, [s]cale [Y] 
*/

.pxcb3s30 > div:first-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(0) scale(3);
    position: absolute;
    left: 50%;
    bottom: 30%;
}


.shadow2p5s20 > div:last-child {
    background: url('./shadow.png');
    background-origin: border-box;
    background-position: -0px -0px;
    /* */
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(0) scale(2.5);
    /* */
    width: 24px;
    height: 10px;
    left: 50%;
    bottom: 15%;
    /* */
    image-rendering: pixelated;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}


/* 
Static Sprites
Static Sprites 
Static Sprites 
*/        


.area0 > div:first-child {
   background-position: -0px -0px;
   width: 16px;
   height: 16px;
}


.area1 > div:first-child {
   background-position: -16px -0px;
   width: 16px;
   height: 16px;
}


.area2 > div:first-child {
   background-position: -32px -0px;
   width: 16px;
   height: 16px;
}


.area3 > div:first-child {
   background-position: -48px -0px;
   width: 16px;
   height: 16px;
}


.mace_1 > div:first-child {
   background-position: -64px -0px;
   width: 16px;
   height: 16px;
}


.mace_2 > div:first-child {
   background-position: -80px -0px;
   width: 16px;
   height: 16px;
}


.mace_3 > div:first-child {
   background-position: -96px -0px;
   width: 16px;
   height: 16px;
}


.mace_4 > div:first-child {
   background-position: -112px -0px;
   width: 16px;
   height: 16px;
}


.mace_5 > div:first-child {
   background-position: -128px -0px;
   width: 16px;
   height: 16px;
}


.mace_6 > div:first-child {
   background-position: -144px -0px;
   width: 16px;
   height: 16px;
}


.mace_7 > div:first-child {
   background-position: -160px -0px;
   width: 16px;
   height: 16px;
}


.mace_8 > div:first-child {
   background-position: -176px -0px;
   width: 16px;
   height: 16px;
}


.mace_9 > div:first-child {
   background-position: -192px -0px;
   width: 16px;
   height: 16px;
}


.mace_10 > div:first-child {
   background-position: -208px -0px;
   width: 16px;
   height: 16px;
}


.mace_11 > div:first-child {
   background-position: -224px -0px;
   width: 16px;
   height: 16px;
}


.mace_12 > div:first-child {
   background-position: -240px -0px;
   width: 16px;
   height: 16px;
}


.mace_13 > div:first-child {
   background-position: -256px -0px;
   width: 16px;
   height: 16px;
}


.mace_14 > div:first-child {
   background-position: -272px -0px;
   width: 16px;
   height: 16px;
}


.mace_15 > div:first-child {
   background-position: -288px -0px;
   width: 16px;
   height: 16px;
}


.mace_16 > div:first-child {
   background-position: -304px -0px;
   width: 16px;
   height: 16px;
}


.mace_17 > div:first-child {
   background-position: -320px -0px;
   width: 16px;
   height: 16px;
}


.mace_18 > div:first-child {
   background-position: -336px -0px;
   width: 16px;
   height: 16px;
}


.arrow > div:first-child {
   background-position: -352px -3px;
   width: 21px;
   height: 4px;
}


.staff_1 > div:first-child {
   background-position: -0px -16px;
   width: 16px;
   height: 16px;
}


.staff_2 > div:first-child {
   background-position: -16px -16px;
   width: 16px;
   height: 16px;
}


.staff_3 > div:first-child {
   background-position: -32px -16px;
   width: 16px;
   height: 16px;
}


.staff_4 > div:first-child {
   background-position: -48px -16px;
   width: 16px;
   height: 16px;
}


.staff_5 > div:first-child {
   background-position: -64px -16px;
   width: 16px;
   height: 16px;
}


.staff_6 > div:first-child {
   background-position: -80px -16px;
   width: 16px;
   height: 16px;
}


.staff_7 > div:first-child {
   background-position: -96px -16px;
   width: 16px;
   height: 16px;
}


.staff_8 > div:first-child {
   background-position: -112px -16px;
   width: 16px;
   height: 16px;
}


.staff_9 > div:first-child {
   background-position: -128px -16px;
   width: 16px;
   height: 16px;
}


.staff_10 > div:first-child {
   background-position: -144px -16px;
   width: 16px;
   height: 16px;
}


.staff_11 > div:first-child {
   background-position: -160px -16px;
   width: 16px;
   height: 16px;
}


.staff_12 > div:first-child {
   background-position: -176px -16px;
   width: 16px;
   height: 16px;
}


.staff_13 > div:first-child {
   background-position: -192px -16px;
   width: 16px;
   height: 16px;
}


.staff_14 > div:first-child {
   background-position: -208px -16px;
   width: 16px;
   height: 16px;
}


.bow_1 > div:first-child {
   background-position: -224px -16px;
   width: 16px;
   height: 16px;
}


.bow_2 > div:first-child {
   background-position: -240px -16px;
   width: 16px;
   height: 16px;
}


.bow_3 > div:first-child {
   background-position: -256px -16px;
   width: 16px;
   height: 16px;
}


.bow_4 > div:first-child {
   background-position: -272px -16px;
   width: 16px;
   height: 16px;
}


.bow_5 > div:first-child {
   background-position: -288px -16px;
   width: 16px;
   height: 16px;
}


.bow_6 > div:first-child {
   background-position: -304px -16px;
   width: 16px;
   height: 16px;
}


.bow_7 > div:first-child {
   background-position: -320px -16px;
   width: 16px;
   height: 16px;
}


.bow_8 > div:first-child {
   background-position: -336px -16px;
   width: 16px;
   height: 16px;
}


.sword_1 > div:first-child {
   background-position: -0px -32px;
   width: 16px;
   height: 16px;
}


.sword_2 > div:first-child {
   background-position: -16px -32px;
   width: 16px;
   height: 16px;
}


.sword_3 > div:first-child {
   background-position: -32px -32px;
   width: 16px;
   height: 16px;
}


.sword_4 > div:first-child {
   background-position: -48px -32px;
   width: 16px;
   height: 16px;
}


.sword_5 > div:first-child {
   background-position: -64px -32px;
   width: 16px;
   height: 16px;
}


.sword_6 > div:first-child {
   background-position: -80px -32px;
   width: 16px;
   height: 16px;
}


.sword_7 > div:first-child {
   background-position: -96px -32px;
   width: 16px;
   height: 16px;
}


.sword_8 > div:first-child {
   background-position: -112px -32px;
   width: 16px;
   height: 16px;
}


.sword_9 > div:first-child {
   background-position: -128px -32px;
   width: 16px;
   height: 16px;
}


.sword_10 > div:first-child {
   background-position: -144px -32px;
   width: 16px;
   height: 16px;
}


.sword_11 > div:first-child {
   background-position: -160px -32px;
   width: 16px;
   height: 16px;
}


.sword_12 > div:first-child {
   background-position: -176px -32px;
   width: 16px;
   height: 16px;
}


.sword_13 > div:first-child {
   background-position: -192px -32px;
   width: 16px;
   height: 16px;
}


.sword_14 > div:first-child {
   background-position: -208px -32px;
   width: 16px;
   height: 16px;
}


.sword_15 > div:first-child {
   background-position: -224px -32px;
   width: 16px;
   height: 16px;
}


.sword_16 > div:first-child {
   background-position: -240px -32px;
   width: 16px;
   height: 16px;
}


.sword_17 > div:first-child {
   background-position: -256px -32px;
   width: 16px;
   height: 16px;
}


.sword_18 > div:first-child {
   background-position: -272px -32px;
   width: 16px;
   height: 16px;
}


.sword_19 > div:first-child {
   background-position: -288px -32px;
   width: 16px;
   height: 16px;
}


.sword_20 > div:first-child {
   background-position: -304px -32px;
   width: 16px;
   height: 16px;
}


.sword_21 > div:first-child {
   background-position: -320px -32px;
   width: 16px;
   height: 16px;
}


.sword_22 > div:first-child {
   background-position: -336px -32px;
   width: 16px;
   height: 16px;
}


.shield_1 > div:first-child {
   background-position: -0px -48px;
   width: 16px;
   height: 16px;
}


.shield_2 > div:first-child {
   background-position: -16px -48px;
   width: 16px;
   height: 16px;
}


.shield_3 > div:first-child {
   background-position: -32px -48px;
   width: 16px;
   height: 16px;
}


.shield_4 > div:first-child {
   background-position: -48px -48px;
   width: 16px;
   height: 16px;
}


.shield_5 > div:first-child {
   background-position: -64px -48px;
   width: 16px;
   height: 16px;
}


.shield_6 > div:first-child {
   background-position: -80px -48px;
   width: 16px;
   height: 16px;
}


.shield_7 > div:first-child {
   background-position: -96px -48px;
   width: 16px;
   height: 16px;
}


.shield_8 > div:first-child {
   background-position: -112px -48px;
   width: 16px;
   height: 16px;
}


.shield_9 > div:first-child {
   background-position: -128px -48px;
   width: 16px;
   height: 16px;
}


.shield_10 > div:first-child {
   background-position: -144px -48px;
   width: 16px;
   height: 16px;
}


.shield_11 > div:first-child {
   background-position: -160px -48px;
   width: 16px;
   height: 16px;
}


.shield_12 > div:first-child {
   background-position: -176px -48px;
   width: 16px;
   height: 16px;
}


.shield_13 > div:first-child {
   background-position: -192px -48px;
   width: 16px;
   height: 16px;
}


.shield_14 > div:first-child {
   background-position: -208px -48px;
   width: 16px;
   height: 16px;
}


.ring_1 > div:first-child {
   background-position: -224px -48px;
   width: 16px;
   height: 16px;
}


.ring_2 > div:first-child {
   background-position: -240px -48px;
   width: 16px;
   height: 16px;
}


.ring_3 > div:first-child {
   background-position: -256px -48px;
   width: 16px;
   height: 16px;
}


.ring_4 > div:first-child {
   background-position: -272px -48px;
   width: 16px;
   height: 16px;
}


.ring_5 > div:first-child {
   background-position: -288px -48px;
   width: 16px;
   height: 16px;
}


.ring_6 > div:first-child {
   background-position: -304px -48px;
   width: 16px;
   height: 16px;
}


.ring_7 > div:first-child {
   background-position: -320px -48px;
   width: 16px;
   height: 16px;
}


.ring_8 > div:first-child {
   background-position: -336px -48px;
   width: 16px;
   height: 16px;
}


.chest_armor_11 > div:first-child {
   background-position: -0px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_12 > div:first-child {
   background-position: -16px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_13 > div:first-child {
   background-position: -32px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_14 > div:first-child {
   background-position: -48px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_15 > div:first-child {
   background-position: -64px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_16 > div:first-child {
   background-position: -80px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_17 > div:first-child {
   background-position: -96px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_18 > div:first-child {
   background-position: -112px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_19 > div:first-child {
   background-position: -128px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_20 > div:first-child {
   background-position: -144px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_21 > div:first-child {
   background-position: -160px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_22 > div:first-child {
   background-position: -176px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_23 > div:first-child {
   background-position: -192px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_24 > div:first-child {
   background-position: -208px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_25 > div:first-child {
   background-position: -224px -64px;
   width: 16px;
   height: 16px;
}


.area143 > div:first-child {
   background-position: -240px -64px;
   width: 16px;
   height: 16px;
}


.area144 > div:first-child {
   background-position: -256px -64px;
   width: 16px;
   height: 16px;
}


.area145 > div:first-child {
   background-position: -272px -64px;
   width: 16px;
   height: 16px;
}


.area146 > div:first-child {
   background-position: -288px -64px;
   width: 16px;
   height: 16px;
}


.area147 > div:first-child {
   background-position: -304px -64px;
   width: 16px;
   height: 16px;
}


.area148 > div:first-child {
   background-position: -320px -64px;
   width: 16px;
   height: 16px;
}


.area149 > div:first-child {
   background-position: -336px -64px;
   width: 16px;
   height: 16px;
}


.chest_armor_1 > div:first-child {
   background-position: -0px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_2 > div:first-child {
   background-position: -16px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_3 > div:first-child {
   background-position: -32px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_4 > div:first-child {
   background-position: -48px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_5 > div:first-child {
   background-position: -64px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_6 > div:first-child {
   background-position: -80px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_7 > div:first-child {
   background-position: -96px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_8 > div:first-child {
   background-position: -112px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_9 > div:first-child {
   background-position: -128px -80px;
   width: 16px;
   height: 16px;
}


.chest_armor_10 > div:first-child {
   background-position: -144px -80px;
   width: 16px;
   height: 16px;
}


.helmet_1 > div:first-child {
   background-position: -160px -80px;
   width: 16px;
   height: 16px;
}


.helmet_2 > div:first-child {
   background-position: -176px -80px;
   width: 16px;
   height: 16px;
}


.helmet_3 > div:first-child {
   background-position: -192px -80px;
   width: 16px;
   height: 16px;
}


.helmet_4 > div:first-child {
   background-position: -208px -80px;
   width: 16px;
   height: 16px;
}


.helmet_5 > div:first-child {
   background-position: -224px -80px;
   width: 16px;
   height: 16px;
}


.helmet_6 > div:first-child {
   background-position: -240px -80px;
   width: 16px;
   height: 16px;
}


.helmet_7 > div:first-child {
   background-position: -256px -80px;
   width: 16px;
   height: 16px;
}


.helmet_8 > div:first-child {
   background-position: -272px -80px;
   width: 16px;
   height: 16px;
}


.helmet_9 > div:first-child {
   background-position: -288px -80px;
   width: 16px;
   height: 16px;
}


.helmet_10 > div:first-child {
   background-position: -304px -80px;
   width: 16px;
   height: 16px;
}


.helmet_11 > div:first-child {
   background-position: -320px -80px;
   width: 16px;
   height: 16px;
}


.helmet_12 > div:first-child {
   background-position: -336px -80px;
   width: 16px;
   height: 16px;
}


.shoes_1 > div:first-child {
   background-position: -0px -96px;
   width: 16px;
   height: 16px;
}


.shoes_2 > div:first-child {
   background-position: -16px -96px;
   width: 16px;
   height: 16px;
}


.shoes_3 > div:first-child {
   background-position: -32px -96px;
   width: 16px;
   height: 16px;
}


.shoes_4 > div:first-child {
   background-position: -48px -96px;
   width: 16px;
   height: 16px;
}


.shoes_5 > div:first-child {
   background-position: -64px -96px;
   width: 16px;
   height: 16px;
}


.shoes_6 > div:first-child {
   background-position: -80px -96px;
   width: 16px;
   height: 16px;
}


.shoes_7 > div:first-child {
   background-position: -96px -96px;
   width: 16px;
   height: 16px;
}


.shoes_8 > div:first-child {
   background-position: -112px -96px;
   width: 16px;
   height: 16px;
}


.shoes_9 > div:first-child {
   background-position: -128px -96px;
   width: 16px;
   height: 16px;
}


.shoes_10 > div:first-child {
   background-position: -144px -96px;
   width: 16px;
   height: 16px;
}


.shoes_11 > div:first-child {
   background-position: -160px -96px;
   width: 16px;
   height: 16px;
}


.pants_1 > div:first-child {
   background-position: -176px -96px;
   width: 16px;
   height: 16px;
}


.pants_2 > div:first-child {
   background-position: -192px -96px;
   width: 16px;
   height: 16px;
}


.pants_3 > div:first-child {
   background-position: -208px -96px;
   width: 16px;
   height: 16px;
}


.pants_4 > div:first-child {
   background-position: -224px -96px;
   width: 16px;
   height: 16px;
}


.pants_5 > div:first-child {
   background-position: -240px -96px;
   width: 16px;
   height: 16px;
}


.pants_6 > div:first-child {
   background-position: -256px -96px;
   width: 16px;
   height: 16px;
}


.pants_7 > div:first-child {
   background-position: -272px -96px;
   width: 16px;
   height: 16px;
}


.pants_8 > div:first-child {
   background-position: -288px -96px;
   width: 16px;
   height: 16px;
}


.pants_9 > div:first-child {
   background-position: -304px -96px;
   width: 16px;
   height: 16px;
}


.pants_10 > div:first-child {
   background-position: -320px -96px;
   width: 16px;
   height: 16px;
}


.pants_11 > div:first-child {
   background-position: -336px -96px;
   width: 16px;
   height: 16px;
}


.knive_throw > div:first-child {
   background-position: -353px -9px;
   width: 18px;
   height: 5px;
}


/* 
Expanded sizes
Expanded sizes
Expanded sizes 
*/      


