
/*
   Computer Generated CSS,
   See README.md on how to (re)-generate
*/


.game_menus > div:first-child {
   background: url('./game_menus.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/*
fix container size scale 3
*/
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}


/*
fix container size scale 1
*/
.fsc1 {
    height: 24px !important;
    width: 24px !important;
}


/*
plts3 = [p]osition [l]eft [t]op, [s]cale 3
*/
.plts3 > div:first-child {
   transform-origin: 0 0;
   transform: scale(3);
   position: absolute;
   left: 0;
   top: 0;
}


/*
plts1 = [p]osition [l]eft [t]op, [s]cale 1
*/
.plts1 > div:first-child {
   transform-origin: 0 0;
   transform: scale(1);
   position: absolute;
   left: 0;
   top: 0;
}


/*
Static Sprites
Static Sprites
Static Sprites
*/


  .close_btn > div:first-child {
     background-position: -382px -8px;
     width: 27px;
     height: 27px;
  }
  

  .close_btn_over > div:first-child {
     background-position: -412px -8px;
     width: 27px;
     height: 27px;
  }
  

  .items_slot > div:first-child {
     background-position: -335px -7px;
     width: 41px;
     height: 41px;
  }
  

  .inventory_menu > div:first-child {
     background-position: -6px -10px;
     width: 320px;
     height: 600px;
  }
  

  .menu_pause > div:first-child {
     background-position: -748px -3px;
     width: 204px;
     height: 199px;
  }
  

  .pause_menu_btn_bkg > div:first-child {
     background-position: -609px -218px;
     width: 162px;
     height: 76px;
  }
  

  .selection_mark > div:first-child {
     background-position: -616px -328px;
     width: 25px;
     height: 25px;
  }
  

  .selection_mark_enemies > div:first-child {
     background-position: -641px -328px;
     width: 25px;
     height: 25px;
  }
  

  .gold > div:first-child {
     background-position: -333px -48px;
     width: 40px;
     height: 43px;
  }
  

  .pause_menu_btn_bkg_over > div:first-child {
     background-position: -788px -218px;
     width: 162px;
     height: 75px;
  }
  

  .btn_inventory > div:first-child {
     background-position: -404px -416px;
     width: 46px;
     height: 46px;
  }
  

  .btn_character > div:first-child {
     background-position: -453px -416px;
     width: 46px;
     height: 46px;
  }
  

  .btn_journal > div:first-child {
     background-position: -501px -416px;
     width: 46px;
     height: 46px;
  }
  

  .btn_inventory_over > div:first-child {
     background-position: -404px -465px;
     width: 46px;
     height: 46px;
  }
  

  .btn_character_over > div:first-child {
     background-position: -453px -465px;
     width: 46px;
     height: 46px;
  }
  

  .btn_journal_over > div:first-child {
     background-position: -501px -465px;
     width: 46px;
     height: 46px;
  }
  

  .btn_main_menu > div:first-child {
     background-position: -551px -416px;
     width: 46px;
     height: 46px;
  }
  

  .btn_main_menu_over > div:first-child {
     background-position: -551px -465px;
     width: 46px;
     height: 46px;
  }
  

  .game_over > div:first-child {
     background-position: -336px -142px;
     width: 240px;
     height: 40px;
  }
  

  .btn_map > div:first-child {
     background-position: -601px -416px;
     width: 46px;
     height: 46px;
  }
  

  .btn_map_over > div:first-child {
     background-position: -601px -465px;
     width: 46px;
     height: 46px;
  }
  

  .health_indicator_background > div:first-child {
     background-position: -454px -2px;
     width: 22px;
     height: 124px;
  }
  

  .health_indicator_hp_tube > div:first-child {
     background-position: -479px -12px;
     width: 22px;
     height: 114px;
  }
  

  .health_indicator_mana_tube > div:first-child {
     background-position: -504px -12px;
     width: 22px;
     height: 114px;
  }
  

  .enemy_life_bar > div:first-child {
     background-position: -390px -520px;
     width: 128px;
     height: 11px;
  }
  

  .enemy_behind_bar > div:first-child {
     background-position: -390px -537px;
     width: 128px;
     height: 11px;
  }
  

  .action_bkg_unselected > div:first-child {
     background-position: -536px -7px;
     width: 60px;
     height: 60px;
  }
  

  .inv_defense_icon > div:first-child {
     background-position: -349px -469px;
     width: 24px;
     height: 24px;
  }
  

  .inv_magic_icon > div:first-child {
     background-position: -349px -444px;
     width: 24px;
     height: 24px;
  }
  

  .inv_attack_icon > div:first-child {
     background-position: -349px -419px;
     width: 24px;
     height: 24px;
  }
  

  .eq_slot_weapon > div:first-child {
     background-position: -720px -317px;
     width: 57px;
     height: 57px;
  }
  

  .eq_slot_shield > div:first-child {
     background-position: -782px -317px;
     width: 57px;
     height: 57px;
  }
  

  .eq_slot_ring > div:first-child {
     background-position: -843px -317px;
     width: 57px;
     height: 57px;
  }
  

  .eq_slot_helmet > div:first-child {
     background-position: -905px -317px;
     width: 57px;
     height: 57px;
  }
  

  .eq_slot_body_armor > div:first-child {
     background-position: -720px -377px;
     width: 57px;
     height: 57px;
  }
  

  .eq_slot_boots > div:first-child {
     background-position: -782px -377px;
     width: 57px;
     height: 57px;
  }
  

  .eq_slot_pants > div:first-child {
     background-position: -843px -377px;
     width: 57px;
     height: 57px;
  }
  

  .items_slot_hover > div:first-child {
     background-position: -377px -51px;
     width: 41px;
     height: 41px;
  }
  

  .shopkeeper_menu > div:first-child {
     background-position: -717px -444px;
     width: 297px;
     height: 423px;
  }
  

  .scroll > div:first-child {
     background-position: -560px -624px;
     width: 18px;
     height: 21px;
  }
  

  .arrow_up_scroll > div:first-child {
     background-position: -588px -622px;
     width: 24px;
     height: 23px;
  }
  

  .arrow_down_scroll > div:first-child {
     background-position: -619px -622px;
     width: 24px;
     height: 23px;
  }
  

  .scroll_bar > div:first-child {
     background-position: -654px -627px;
     width: 8px;
     height: 14px;
  }
  

  .abandon_btn > div:first-child {
     background-position: -561px -659px;
     width: 96px;
     height: 33px;
  }
  

  .journal_menu > div:first-child {
     background-position: -7px -617px;
     width: 544px;
     height: 406px;
  }
  

  .props_label_action_btn > div:first-child {
     background-position: -561px -695px;
     width: 96px;
     height: 34px;
  }
  

  .props_label_action_btn_hover > div:first-child {
     background-position: -561px -731px;
     width: 96px;
     height: 34px;
  }
  

  .props_label_bkg > div:first-child {
     background-position: -618px -75px;
     width: 99px;
     height: 95px;
  }
  

  .enemy_life_bar_small > div:first-child {
     background-position: -390px -556px;
     width: 24px;
     height: 4px;
  }
  

  .enemy_behind_bar_small > div:first-child {
     background-position: -390px -573px;
     width: 24px;
     height: 4px;
  }
  

  .action_bkg_selected > div:first-child {
     background-position: -536px -70px;
     width: 60px;
     height: 60px;
  }
  

  .ability_selection_opener_open > div:first-child {
     background-position: -609px -9px;
     width: 41px;
     height: 48px;
  }
  

  .btn_abilities_menu_detailed > div:first-child {
     background-position: -551px -520px;
     width: 46px;
     height: 46px;
  }
  

  .btn_abilities_menu_compact > div:first-child {
     background-position: -602px -520px;
     width: 46px;
     height: 46px;
  }
  

  .tiny_page > div:first-child {
     background-position: -335px -100px;
     width: 14px;
     height: 14px;
  }
  

  .checkbox > div:first-child {
     background-position: -559px -774px;
     width: 28px;
     height: 28px;
  }
  

  .checkbox_ticked > div:first-child {
     background-position: -559px -806px;
     width: 28px;
     height: 28px;
  }
  

  .ability_selection_opener > div:first-child {
     background-position: -650px -9px;
     width: 41px;
     height: 48px;
  }
  

  .tab_normal > div:first-child {
     background-position: -339px -210px;
     width: 130px;
     height: 65px;
  }
  

  .tab_selected > div:first-child {
     background-position: -339px -276px;
     width: 130px;
     height: 65px;
  }
  

  .equip_character > div:first-child {
     background-position: -117px -380px;
     width: 111px;
     height: 159px;
  }
  

  .inventory_gamepad > div:first-child {
     background-position: -696px -11px;
     width: 41px;
     height: 45px;
  }
  

  .gamepad_zoom_out > div:first-child {
     background-position: -656px -824px;
     width: 18px;
     height: 18px;
  }
  

  .gamepad_zoom_out_over > div:first-child {
     background-position: -656px -842px;
     width: 18px;
     height: 18px;
  }
  

  .quick_slot > div:first-child {
     background-position: -674px -824px;
     width: 18px;
     height: 18px;
  }
  

  .quick_slot_over > div:first-child {
     background-position: -674px -842px;
     width: 18px;
     height: 18px;
  }
  

  .wiiugamepad_mode_off > div:first-child {
     background-position: -620px -824px;
     width: 18px;
     height: 18px;
  }
  

  .wiiugamepad_mode_on > div:first-child {
     background-position: -620px -842px;
     width: 18px;
     height: 18px;
  }
  

  .gamepad_zoom_in > div:first-child {
     background-position: -638px -824px;
     width: 18px;
     height: 18px;
  }
  

  .gamepad_zoom_in_over > div:first-child {
     background-position: -638px -842px;
     width: 18px;
     height: 18px;
  }
  

  .quick_slot_inv_expand > div:first-child {
     background-position: -620px -860px;
     width: 18px;
     height: 13px;
  }
  

  .quick_slot_inv_collapse > div:first-child {
     background-position: -620px -873px;
     width: 18px;
     height: 13px;
  }
  

  .equip_character_no_bk > div:first-child {
     background-position: -654px -885px;
     width: 80px;
     height: 122px;
  }
  

/*
Expanded sizes
Expanded sizes
Expanded sizes
*/


.plts3.pause_menu_btn_bkg {
    height: 228px;
      width: 486px;
}


.plts1.pause_menu_btn_bkg {
    height: 76px;
      width: 162px;
}
