
        
        /* SpriteSheet */
        /* SpriteSheet */
        /* SpriteSheet */
        
        .game_menus > div {
            background: url('./game_menus.png');
            background-origin: border-box;
            image-rendering: pixelated;
        }

        /* general sizing */
        /* general sizing */
        /* general sizing */

        .super>div,
        .boss>div,
        .normal>div {
            transform-origin: 0 0;
        }

        .normal>div {
            transform: scale(3) translateX(-50%);
            position: absolute;
            left: 50%;
            bottom: 30%;
        }

        .boss>div {
            transform: scale(3.75);
        }

        .boss.super>div {
            transform: scale(10.5);
        }


        .super.boss.look-right>div,
        .normal.look-right>div,
        .boss.look-right>div {
            transform-origin: right top;
        }

        .normal.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(3);
        }

        .boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(3.75);
        }

        .super.boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(10.5);
        }

        .smooth,
        .smooth>div {
            transition: all 2s;
        }
             
        
        /* Static Sprites */
        /* Static Sprites */
        /* Static Sprites */
        
        
            .close_btn > div {
                background-position: -382px -8px;
                width: 27px;
                height: 27px;
            }
        

            .close_btn_over > div {
                background-position: -412px -8px;
                width: 27px;
                height: 27px;
            }
        

            .items_slot > div {
                background-position: -335px -7px;
                width: 41px;
                height: 41px;
            }
        

            .inventory_menu > div {
                background-position: -6px -10px;
                width: 320px;
                height: 600px;
            }
        

            .menu_pause > div {
                background-position: -748px -3px;
                width: 204px;
                height: 199px;
            }
        

            .pause_menu_btn_bkg > div {
                background-position: -609px -218px;
                width: 162px;
                height: 76px;
            }
        

            .selection_mark > div {
                background-position: -616px -328px;
                width: 25px;
                height: 25px;
            }
        

            .selection_mark_enemies > div {
                background-position: -641px -328px;
                width: 25px;
                height: 25px;
            }
        

            .gold > div {
                background-position: -333px -48px;
                width: 40px;
                height: 43px;
            }
        

            .pause_menu_btn_bkg_over > div {
                background-position: -788px -218px;
                width: 162px;
                height: 75px;
            }
        

            .btn_inventory > div {
                background-position: -404px -416px;
                width: 46px;
                height: 46px;
            }
        

            .btn_character > div {
                background-position: -453px -416px;
                width: 46px;
                height: 46px;
            }
        

            .btn_journal > div {
                background-position: -501px -416px;
                width: 46px;
                height: 46px;
            }
        

            .btn_inventory_over > div {
                background-position: -404px -465px;
                width: 46px;
                height: 46px;
            }
        

            .btn_character_over > div {
                background-position: -453px -465px;
                width: 46px;
                height: 46px;
            }
        

            .btn_journal_over > div {
                background-position: -501px -465px;
                width: 46px;
                height: 46px;
            }
        

            .btn_main_menu > div {
                background-position: -551px -416px;
                width: 46px;
                height: 46px;
            }
        

            .btn_main_menu_over > div {
                background-position: -551px -465px;
                width: 46px;
                height: 46px;
            }
        

            .game_over > div {
                background-position: -336px -142px;
                width: 240px;
                height: 40px;
            }
        

            .btn_map > div {
                background-position: -601px -416px;
                width: 46px;
                height: 46px;
            }
        

            .btn_map_over > div {
                background-position: -601px -465px;
                width: 46px;
                height: 46px;
            }
        

            .health_indicator_background > div {
                background-position: -454px -2px;
                width: 22px;
                height: 124px;
            }
        

            .health_indicator_hp_tube > div {
                background-position: -479px -12px;
                width: 22px;
                height: 114px;
            }
        

            .health_indicator_mana_tube > div {
                background-position: -504px -12px;
                width: 22px;
                height: 114px;
            }
        

            .enemy_life_bar > div {
                background-position: -390px -520px;
                width: 128px;
                height: 11px;
            }
        

            .enemy_behind_bar > div {
                background-position: -390px -537px;
                width: 128px;
                height: 11px;
            }
        

            .action_bkg_unselected > div {
                background-position: -536px -7px;
                width: 60px;
                height: 60px;
            }
        

            .inv_defense_icon > div {
                background-position: -349px -469px;
                width: 24px;
                height: 24px;
            }
        

            .inv_magic_icon > div {
                background-position: -349px -444px;
                width: 24px;
                height: 24px;
            }
        

            .inv_attack_icon > div {
                background-position: -349px -419px;
                width: 24px;
                height: 24px;
            }
        

            .eq_slot_weapon > div {
                background-position: -720px -317px;
                width: 57px;
                height: 57px;
            }
        

            .eq_slot_shield > div {
                background-position: -782px -317px;
                width: 57px;
                height: 57px;
            }
        

            .eq_slot_ring > div {
                background-position: -843px -317px;
                width: 57px;
                height: 57px;
            }
        

            .eq_slot_helmet > div {
                background-position: -905px -317px;
                width: 57px;
                height: 57px;
            }
        

            .eq_slot_body_armor > div {
                background-position: -720px -377px;
                width: 57px;
                height: 57px;
            }
        

            .eq_slot_boots > div {
                background-position: -782px -377px;
                width: 57px;
                height: 57px;
            }
        

            .eq_slot_pants > div {
                background-position: -843px -377px;
                width: 57px;
                height: 57px;
            }
        

            .items_slot_hover > div {
                background-position: -377px -51px;
                width: 41px;
                height: 41px;
            }
        

            .shopkeeper_menu > div {
                background-position: -717px -444px;
                width: 297px;
                height: 423px;
            }
        

            .scroll > div {
                background-position: -560px -624px;
                width: 18px;
                height: 21px;
            }
        

            .arrow_up_scroll > div {
                background-position: -588px -622px;
                width: 24px;
                height: 23px;
            }
        

            .arrow_down_scroll > div {
                background-position: -619px -622px;
                width: 24px;
                height: 23px;
            }
        

            .scroll_bar > div {
                background-position: -654px -627px;
                width: 8px;
                height: 14px;
            }
        

            .abandon_btn > div {
                background-position: -561px -659px;
                width: 96px;
                height: 33px;
            }
        

            .journal_menu > div {
                background-position: -7px -617px;
                width: 544px;
                height: 406px;
            }
        

            .props_label_action_btn > div {
                background-position: -561px -695px;
                width: 96px;
                height: 34px;
            }
        

            .props_label_action_btn_hover > div {
                background-position: -561px -731px;
                width: 96px;
                height: 34px;
            }
        

            .props_label_bkg > div {
                background-position: -618px -75px;
                width: 99px;
                height: 95px;
            }
        

            .enemy_life_bar_small > div {
                background-position: -390px -556px;
                width: 24px;
                height: 4px;
            }
        

            .enemy_behind_bar_small > div {
                background-position: -390px -573px;
                width: 24px;
                height: 4px;
            }
        

            .action_bkg_selected > div {
                background-position: -536px -70px;
                width: 60px;
                height: 60px;
            }
        

            .ability_selection_opener_open > div {
                background-position: -609px -9px;
                width: 41px;
                height: 48px;
            }
        

            .btn_abilities_menu_detailed > div {
                background-position: -551px -520px;
                width: 46px;
                height: 46px;
            }
        

            .btn_abilities_menu_compact > div {
                background-position: -602px -520px;
                width: 46px;
                height: 46px;
            }
        

            .tiny_page > div {
                background-position: -335px -100px;
                width: 14px;
                height: 14px;
            }
        

            .checkbox > div {
                background-position: -559px -774px;
                width: 28px;
                height: 28px;
            }
        

            .checkbox_ticked > div {
                background-position: -559px -806px;
                width: 28px;
                height: 28px;
            }
        

            .ability_selection_opener > div {
                background-position: -650px -9px;
                width: 41px;
                height: 48px;
            }
        

            .tab_normal > div {
                background-position: -339px -210px;
                width: 130px;
                height: 65px;
            }
        

            .tab_selected > div {
                background-position: -339px -276px;
                width: 130px;
                height: 65px;
            }
        

            .equip_character > div {
                background-position: -117px -380px;
                width: 111px;
                height: 159px;
            }
        

            .inventory_gamepad > div {
                background-position: -696px -11px;
                width: 41px;
                height: 45px;
            }
        

            .gamepad_zoom_out > div {
                background-position: -656px -824px;
                width: 18px;
                height: 18px;
            }
        

            .gamepad_zoom_out_over > div {
                background-position: -656px -842px;
                width: 18px;
                height: 18px;
            }
        

            .quick_slot > div {
                background-position: -674px -824px;
                width: 18px;
                height: 18px;
            }
        

            .quick_slot_over > div {
                background-position: -674px -842px;
                width: 18px;
                height: 18px;
            }
        

            .wiiugamepad_mode_off > div {
                background-position: -620px -824px;
                width: 18px;
                height: 18px;
            }
        

            .wiiugamepad_mode_on > div {
                background-position: -620px -842px;
                width: 18px;
                height: 18px;
            }
        

            .gamepad_zoom_in > div {
                background-position: -638px -824px;
                width: 18px;
                height: 18px;
            }
        

            .gamepad_zoom_in_over > div {
                background-position: -638px -842px;
                width: 18px;
                height: 18px;
            }
        

            .quick_slot_inv_expand > div {
                background-position: -620px -860px;
                width: 18px;
                height: 13px;
            }
        

            .quick_slot_inv_collapse > div {
                background-position: -620px -873px;
                width: 18px;
                height: 13px;
            }
        

            .equip_character_no_bk > div {
                background-position: -654px -885px;
                width: 80px;
                height: 122px;
            }
        
        
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
                
         .normal.close_btn,
.normal.close_btn_over {
                height: 81px; width: 81px;
            }
 .boss.close_btn,
.boss.close_btn_over {
                height: 101.25px; width: 101.25px;
            }
 .boss.super.close_btn,
.boss.super.close_btn_over {
                height: 283.5px; width: 283.5px;
            }
 .normal.items_slot,
.normal.items_slot_hover {
                height: 123px; width: 123px;
            }
 .boss.items_slot,
.boss.items_slot_hover {
                height: 153.75px; width: 153.75px;
            }
 .boss.super.items_slot,
.boss.super.items_slot_hover {
                height: 430.5px; width: 430.5px;
            }
 .normal.inventory_menu {
                height: 1800px; width: 960px;
            }
 .boss.inventory_menu {
                height: 2250px; width: 1200px;
            }
 .boss.super.inventory_menu {
                height: 6300px; width: 3360px;
            }
 .normal.menu_pause {
                height: 597px; width: 612px;
            }
 .boss.menu_pause {
                height: 746.25px; width: 765px;
            }
 .boss.super.menu_pause {
                height: 2089.5px; width: 2142px;
            }
 .normal.pause_menu_btn_bkg {
                height: 228px; width: 486px;
            }
 .boss.pause_menu_btn_bkg {
                height: 285px; width: 607.5px;
            }
 .boss.super.pause_menu_btn_bkg {
                height: 798px; width: 1701px;
            }
 .normal.selection_mark,
.normal.selection_mark_enemies {
                height: 75px; width: 75px;
            }
 .boss.selection_mark,
.boss.selection_mark_enemies {
                height: 93.75px; width: 93.75px;
            }
 .boss.super.selection_mark,
.boss.super.selection_mark_enemies {
                height: 262.5px; width: 262.5px;
            }
 .normal.gold {
                height: 129px; width: 120px;
            }
 .boss.gold {
                height: 161.25px; width: 150px;
            }
 .boss.super.gold {
                height: 451.5px; width: 420px;
            }
 .normal.pause_menu_btn_bkg_over {
                height: 225px; width: 486px;
            }
 .boss.pause_menu_btn_bkg_over {
                height: 281.25px; width: 607.5px;
            }
 .boss.super.pause_menu_btn_bkg_over {
                height: 787.5px; width: 1701px;
            }
 .normal.btn_inventory,
.normal.btn_character,
.normal.btn_journal,
.normal.btn_inventory_over,
.normal.btn_character_over,
.normal.btn_journal_over,
.normal.btn_main_menu,
.normal.btn_main_menu_over,
.normal.btn_map,
.normal.btn_map_over,
.normal.btn_abilities_menu_detailed,
.normal.btn_abilities_menu_compact {
                height: 138px; width: 138px;
            }
 .boss.btn_inventory,
.boss.btn_character,
.boss.btn_journal,
.boss.btn_inventory_over,
.boss.btn_character_over,
.boss.btn_journal_over,
.boss.btn_main_menu,
.boss.btn_main_menu_over,
.boss.btn_map,
.boss.btn_map_over,
.boss.btn_abilities_menu_detailed,
.boss.btn_abilities_menu_compact {
                height: 172.5px; width: 172.5px;
            }
 .boss.super.btn_inventory,
.boss.super.btn_character,
.boss.super.btn_journal,
.boss.super.btn_inventory_over,
.boss.super.btn_character_over,
.boss.super.btn_journal_over,
.boss.super.btn_main_menu,
.boss.super.btn_main_menu_over,
.boss.super.btn_map,
.boss.super.btn_map_over,
.boss.super.btn_abilities_menu_detailed,
.boss.super.btn_abilities_menu_compact {
                height: 483px; width: 483px;
            }
 .normal.game_over {
                height: 120px; width: 720px;
            }
 .boss.game_over {
                height: 150px; width: 900px;
            }
 .boss.super.game_over {
                height: 420px; width: 2520px;
            }
 .normal.health_indicator_background {
                height: 372px; width: 66px;
            }
 .boss.health_indicator_background {
                height: 465px; width: 82.5px;
            }
 .boss.super.health_indicator_background {
                height: 1302px; width: 231px;
            }
 .normal.health_indicator_hp_tube,
.normal.health_indicator_mana_tube {
                height: 342px; width: 66px;
            }
 .boss.health_indicator_hp_tube,
.boss.health_indicator_mana_tube {
                height: 427.5px; width: 82.5px;
            }
 .boss.super.health_indicator_hp_tube,
.boss.super.health_indicator_mana_tube {
                height: 1197px; width: 231px;
            }
 .normal.enemy_life_bar,
.normal.enemy_behind_bar {
                height: 33px; width: 384px;
            }
 .boss.enemy_life_bar,
.boss.enemy_behind_bar {
                height: 41.25px; width: 480px;
            }
 .boss.super.enemy_life_bar,
.boss.super.enemy_behind_bar {
                height: 115.5px; width: 1344px;
            }
 .normal.action_bkg_unselected,
.normal.action_bkg_selected {
                height: 180px; width: 180px;
            }
 .boss.action_bkg_unselected,
.boss.action_bkg_selected {
                height: 225px; width: 225px;
            }
 .boss.super.action_bkg_unselected,
.boss.super.action_bkg_selected {
                height: 630px; width: 630px;
            }
 .normal.inv_defense_icon,
.normal.inv_magic_icon,
.normal.inv_attack_icon {
                height: 72px; width: 72px;
            }
 .boss.inv_defense_icon,
.boss.inv_magic_icon,
.boss.inv_attack_icon {
                height: 90px; width: 90px;
            }
 .boss.super.inv_defense_icon,
.boss.super.inv_magic_icon,
.boss.super.inv_attack_icon {
                height: 252px; width: 252px;
            }
 .normal.eq_slot_weapon,
.normal.eq_slot_shield,
.normal.eq_slot_ring,
.normal.eq_slot_helmet,
.normal.eq_slot_body_armor,
.normal.eq_slot_boots,
.normal.eq_slot_pants {
                height: 171px; width: 171px;
            }
 .boss.eq_slot_weapon,
.boss.eq_slot_shield,
.boss.eq_slot_ring,
.boss.eq_slot_helmet,
.boss.eq_slot_body_armor,
.boss.eq_slot_boots,
.boss.eq_slot_pants {
                height: 213.75px; width: 213.75px;
            }
 .boss.super.eq_slot_weapon,
.boss.super.eq_slot_shield,
.boss.super.eq_slot_ring,
.boss.super.eq_slot_helmet,
.boss.super.eq_slot_body_armor,
.boss.super.eq_slot_boots,
.boss.super.eq_slot_pants {
                height: 598.5px; width: 598.5px;
            }
 .normal.shopkeeper_menu {
                height: 1269px; width: 891px;
            }
 .boss.shopkeeper_menu {
                height: 1586.25px; width: 1113.75px;
            }
 .boss.super.shopkeeper_menu {
                height: 4441.5px; width: 3118.5px;
            }
 .normal.scroll {
                height: 63px; width: 54px;
            }
 .boss.scroll {
                height: 78.75px; width: 67.5px;
            }
 .boss.super.scroll {
                height: 220.5px; width: 189px;
            }
 .normal.arrow_up_scroll,
.normal.arrow_down_scroll {
                height: 69px; width: 72px;
            }
 .boss.arrow_up_scroll,
.boss.arrow_down_scroll {
                height: 86.25px; width: 90px;
            }
 .boss.super.arrow_up_scroll,
.boss.super.arrow_down_scroll {
                height: 241.5px; width: 252px;
            }
 .normal.scroll_bar {
                height: 42px; width: 24px;
            }
 .boss.scroll_bar {
                height: 52.5px; width: 30px;
            }
 .boss.super.scroll_bar {
                height: 147px; width: 84px;
            }
 .normal.abandon_btn {
                height: 99px; width: 288px;
            }
 .boss.abandon_btn {
                height: 123.75px; width: 360px;
            }
 .boss.super.abandon_btn {
                height: 346.5px; width: 1008px;
            }
 .normal.journal_menu {
                height: 1218px; width: 1632px;
            }
 .boss.journal_menu {
                height: 1522.5px; width: 2040px;
            }
 .boss.super.journal_menu {
                height: 4263px; width: 5712px;
            }
 .normal.props_label_action_btn,
.normal.props_label_action_btn_hover {
                height: 102px; width: 288px;
            }
 .boss.props_label_action_btn,
.boss.props_label_action_btn_hover {
                height: 127.5px; width: 360px;
            }
 .boss.super.props_label_action_btn,
.boss.super.props_label_action_btn_hover {
                height: 357px; width: 1008px;
            }
 .normal.props_label_bkg {
                height: 285px; width: 297px;
            }
 .boss.props_label_bkg {
                height: 356.25px; width: 371.25px;
            }
 .boss.super.props_label_bkg {
                height: 997.5px; width: 1039.5px;
            }
 .normal.enemy_life_bar_small,
.normal.enemy_behind_bar_small {
                height: 12px; width: 72px;
            }
 .boss.enemy_life_bar_small,
.boss.enemy_behind_bar_small {
                height: 15px; width: 90px;
            }
 .boss.super.enemy_life_bar_small,
.boss.super.enemy_behind_bar_small {
                height: 42px; width: 252px;
            }
 .normal.ability_selection_opener_open,
.normal.ability_selection_opener {
                height: 144px; width: 123px;
            }
 .boss.ability_selection_opener_open,
.boss.ability_selection_opener {
                height: 180px; width: 153.75px;
            }
 .boss.super.ability_selection_opener_open,
.boss.super.ability_selection_opener {
                height: 504px; width: 430.5px;
            }
 .normal.tiny_page {
                height: 42px; width: 42px;
            }
 .boss.tiny_page {
                height: 52.5px; width: 52.5px;
            }
 .boss.super.tiny_page {
                height: 147px; width: 147px;
            }
 .normal.checkbox,
.normal.checkbox_ticked {
                height: 84px; width: 84px;
            }
 .boss.checkbox,
.boss.checkbox_ticked {
                height: 105px; width: 105px;
            }
 .boss.super.checkbox,
.boss.super.checkbox_ticked {
                height: 294px; width: 294px;
            }
 .normal.tab_normal,
.normal.tab_selected {
                height: 195px; width: 390px;
            }
 .boss.tab_normal,
.boss.tab_selected {
                height: 243.75px; width: 487.5px;
            }
 .boss.super.tab_normal,
.boss.super.tab_selected {
                height: 682.5px; width: 1365px;
            }
 .normal.equip_character {
                height: 477px; width: 333px;
            }
 .boss.equip_character {
                height: 596.25px; width: 416.25px;
            }
 .boss.super.equip_character {
                height: 1669.5px; width: 1165.5px;
            }
 .normal.inventory_gamepad {
                height: 135px; width: 123px;
            }
 .boss.inventory_gamepad {
                height: 168.75px; width: 153.75px;
            }
 .boss.super.inventory_gamepad {
                height: 472.5px; width: 430.5px;
            }
 .normal.gamepad_zoom_out,
.normal.gamepad_zoom_out_over,
.normal.quick_slot,
.normal.quick_slot_over,
.normal.wiiugamepad_mode_off,
.normal.wiiugamepad_mode_on,
.normal.gamepad_zoom_in,
.normal.gamepad_zoom_in_over {
                height: 54px; width: 54px;
            }
 .boss.gamepad_zoom_out,
.boss.gamepad_zoom_out_over,
.boss.quick_slot,
.boss.quick_slot_over,
.boss.wiiugamepad_mode_off,
.boss.wiiugamepad_mode_on,
.boss.gamepad_zoom_in,
.boss.gamepad_zoom_in_over {
                height: 67.5px; width: 67.5px;
            }
 .boss.super.gamepad_zoom_out,
.boss.super.gamepad_zoom_out_over,
.boss.super.quick_slot,
.boss.super.quick_slot_over,
.boss.super.wiiugamepad_mode_off,
.boss.super.wiiugamepad_mode_on,
.boss.super.gamepad_zoom_in,
.boss.super.gamepad_zoom_in_over {
                height: 189px; width: 189px;
            }
 .normal.quick_slot_inv_expand,
.normal.quick_slot_inv_collapse {
                height: 39px; width: 54px;
            }
 .boss.quick_slot_inv_expand,
.boss.quick_slot_inv_collapse {
                height: 48.75px; width: 67.5px;
            }
 .boss.super.quick_slot_inv_expand,
.boss.super.quick_slot_inv_collapse {
                height: 136.5px; width: 189px;
            }
 .normal.equip_character_no_bk {
                height: 366px; width: 240px;
            }
 .boss.equip_character_no_bk {
                height: 457.5px; width: 300px;
            }
 .boss.super.equip_character_no_bk {
                height: 1281px; width: 840px;
            } 

        