/*  Computer Generated CSS, */


/* SpriteSheet */


/* SpriteSheet */


/* SpriteSheet */

.heroes>div:first-child {
    background: url('./heroes.png');
    background-origin: border-box;
    image-rendering: pixelated;
}

.heroes>div:last-child {
    background: url('./shadow.png');
    background-origin: border-box;
    image-rendering: pixelated;
    z-index: 0;
}


/* general sizing */


/* general sizing */


/* general sizing */

.fsc3 {
    height: 72px !important;
    width: 72px !important;
}

/* 
pxcb30ps3 = [p]osition [xc]enter [b]ottom[30p]ercent, [s]cale [3] 
*/

.pxcb30ps3>div:first-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(0) scale(3);
    position: absolute;
    left: 50%;
    bottom: 30%;
}

.pxcb30ps3>div:last-child {
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(0) scale(3);
    background-position: -0px -0px;
    width: 24px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 12.5%;
    opacity: 0.5;
}

.pxcb30ps3.right>div:first-child {
    transform: translateX(-50%) translateY(0) scaleX(-1) scale(3);
}


/* Static Sprites */
/* Static Sprites */
/* Static Sprites */


/* Static Sprites Sizes */
/* Static Sprites Sizes */
/* Static Sprites Sizes */


/* Animations */
/* Animations */
/* Animations */

.warrior_idle>div:first-child {
    animation-name: warrior_idle;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes warrior_idle {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -0px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -0px;
    }
}

.warrior_attack>div:first-child {
    animation-name: warrior_attack;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes warrior_attack {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -0px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -0px;
    }
}

.warrior_die>div:first-child {
    animation-name: warrior_die;
    animation-duration: 2300ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes warrior_die {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -0px;
    }
    43% {
        width: 24px;
        height: 24px;
        background-position: -24px -0px;
    }
    87% {
        width: 24px;
        height: 24px;
        background-position: -24px -0px;
    }
}

.shaman_idle>div:first-child {
    animation-name: shaman_idle;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes shaman_idle {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -24px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -24px;
    }
}

.shaman_attack>div:first-child {
    animation-name: shaman_attack;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes shaman_attack {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -24px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -24px;
    }
}

.shaman_die>div:first-child {
    animation-name: shaman_die;
    animation-duration: 2300ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes shaman_die {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -24px;
    }
    43% {
        width: 24px;
        height: 24px;
        background-position: -24px -24px;
    }
    87% {
        width: 24px;
        height: 24px;
        background-position: -24px -24px;
    }
}

.wizard_idle>div:first-child {
    animation-name: wizard_idle;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes wizard_idle {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -48px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -48px;
    }
}

.wizard_attack>div:first-child {
    animation-name: wizard_attack;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes wizard_attack {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -48px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -48px;
    }
}

.wizard_die>div:first-child {
    animation-name: wizard_die;
    animation-duration: 2300ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes wizard_die {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -48px;
    }
    43% {
        width: 24px;
        height: 24px;
        background-position: -24px -48px;
    }
    87% {
        width: 24px;
        height: 24px;
        background-position: -24px -48px;
    }
}

.assassin_idle>div:first-child {
    animation-name: assassin_idle;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes assassin_idle {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -72px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -72px;
    }
}

.assassin_attack>div:first-child {
    animation-name: assassin_attack;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes assassin_attack {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -72px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -72px;
    }
}

.assassin_die>div:first-child {
    animation-name: assassin_die;
    animation-duration: 2300ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes assassin_die {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -72px;
    }
    43% {
        width: 24px;
        height: 24px;
        background-position: -24px -72px;
    }
    87% {
        width: 24px;
        height: 24px;
        background-position: -24px -72px;
    }
}

.assassin_bow>div:first-child {
    animation-name: assassin_bow;
    animation-duration: 220ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes assassin_bow {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -48px -72px;
    }
    18% {
        width: 24px;
        height: 24px;
        background-position: -72px -72px;
    }
    59% {
        width: 24px;
        height: 24px;
        background-position: -96px -72px;
    }
}

.necrodancer_idle>div:first-child {
    animation-name: necrodancer_idle;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes necrodancer_idle {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -96px;
    }
    25% {
        width: 24px;
        height: 24px;
        background-position: -24px -96px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -48px -96px;
    }
    75% {
        width: 24px;
        height: 24px;
        background-position: -72px -96px;
    }
}

.necrodancer_idle_shovel>div:first-child {
    animation-name: necrodancer_idle_shovel;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes necrodancer_idle_shovel {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -48px -0px;
    }
    25% {
        width: 24px;
        height: 24px;
        background-position: -72px -0px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -48px -24px;
    }
    75% {
        width: 24px;
        height: 24px;
        background-position: -72px -24px;
    }
}

.necrodancer_attack>div:first-child {
    animation-name: necrodancer_attack;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes necrodancer_attack {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -96px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -24px -96px;
    }
}

.necrodancer_die>div:first-child {
    animation-name: necrodancer_die;
    animation-duration: 2300ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes necrodancer_die {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -0px -96px;
    }
    43% {
        width: 24px;
        height: 24px;
        background-position: -24px -96px;
    }
    87% {
        width: 24px;
        height: 24px;
        background-position: -24px -96px;
    }
}

.shopkeeper_idle>div:first-child {
    animation-name: shopkeeper_idle;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}

@keyframes shopkeeper_idle {
    from,
    to {
        width: 24px;
        height: 24px;
        background-position: -96px -0px;
    }
    50% {
        width: 24px;
        height: 24px;
        background-position: -96px -24px;
    }
}


/* Animation Sizes */


/* Animation Sizes */


/* Animation Sizes */

.pxcb30ps3.warrior_idle,
.pxcb30ps3.warrior_attack,
.pxcb30ps3.warrior_die,
.pxcb30ps3.shaman_idle,
.pxcb30ps3.shaman_attack,
.pxcb30ps3.shaman_die,
.pxcb30ps3.wizard_idle,
.pxcb30ps3.wizard_attack,
.pxcb30ps3.wizard_die,
.pxcb30ps3.assassin_idle,
.pxcb30ps3.assassin_attack,
.pxcb30ps3.assassin_die,
.pxcb30ps3.assassin_bow,
.pxcb30ps3.necrodancer_idle,
.pxcb30ps3.necrodancer_idle_shovel,
.pxcb30ps3.necrodancer_attack,
.pxcb30ps3.necrodancer_die,
.pxcb30ps3.shopkeeper_idle {
    height: 72px;
    width: 72px;
}

