
            /*  Computer Generated CSS, */
            
            
        
        /* SpriteSheet */
        /* SpriteSheet */
        /* SpriteSheet */
        
        .liquid_acid > div {
            background: url('./liquid_acid.png');
            background-origin: border-box;
            image-rendering: pixelated;
        }

        /* general sizing */
        /* general sizing */
        /* general sizing */

         /*
        plts3 = [p]osition [l]eft [t]op, [s]cale 3
         */
       
        .plts3 >div {
            transform-origin: 0 0; /* scale from this origin */
            transform: scale(3);
            position: absolute;
            left: 0;
            top: 0;
        }
            
        
        /* Static Sprites */
        /* Static Sprites */
        /* Static Sprites */
        
        
            .top_top_left_corner > div {
                background-position: -0px -24px;
                width: 24px;
                height: 24px;
            }
        

            .top_top_right_corner > div {
                background-position: -48px -24px;
                width: 24px;
                height: 24px;
            }
        

            .top_bottom_left_corner > div {
                background-position: -0px -72px;
                width: 24px;
                height: 24px;
            }
        

            .top_bottom_right_corner > div {
                background-position: -48px -72px;
                width: 24px;
                height: 24px;
            }
        

            .top_left > div {
                background-position: -0px -48px;
                width: 24px;
                height: 24px;
            }
        

            .top_right > div {
                background-position: -48px -48px;
                width: 24px;
                height: 24px;
            }
        

            .top_bottom > div {
                background-position: -24px -72px;
                width: 24px;
                height: 24px;
            }
        

            .top_single > div {
                background-position: -24px -48px;
                width: 24px;
                height: 24px;
            }
        

            .top_top > div {
                background-position: -24px -24px;
                width: 24px;
                height: 24px;
            }
        

            .inner_bottom_right > div {
                background-position: -48px -0px;
                width: 24px;
                height: 24px;
            }
        

            .inner_top_right > div {
                background-position: -72px -0px;
                width: 24px;
                height: 24px;
            }
        

            .inner_bottom_left > div {
                background-position: -96px -0px;
                width: 24px;
                height: 24px;
            }
        

            .bottom_top_left > div {
                background-position: -72px -24px;
                width: 24px;
                height: 24px;
            }
        

            .single_top > div {
                background-position: -72px -48px;
                width: 24px;
                height: 24px;
            }
        

            .single_right > div {
                background-position: -96px -48px;
                width: 24px;
                height: 24px;
            }
        

            .single_bottom > div {
                background-position: -72px -72px;
                width: 24px;
                height: 24px;
            }
        

            .single_left > div {
                background-position: -96px -72px;
                width: 24px;
                height: 24px;
            }
        

            .single_horizontal > div {
                background-position: -0px -96px;
                width: 24px;
                height: 24px;
            }
        

            .single_vertical > div {
                background-position: -24px -96px;
                width: 24px;
                height: 24px;
            }
        

            .single_cross > div {
                background-position: -48px -96px;
                width: 24px;
                height: 24px;
            }
        
        
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
                
.fsc3.top_top_left_corner,
.fsc3.top_top_right_corner,
.fsc3.top_bottom_left_corner,
.fsc3.top_bottom_right_corner,
.fsc3.top_left,
.fsc3.top_right,
.fsc3.top_bottom,
.fsc3.top_single,
.fsc3.top_top,
.fsc3.inner_bottom_right,
.fsc3.inner_top_right,
.fsc3.inner_bottom_left,
.fsc3.bottom_top_left,
.fsc3.single_top,
.fsc3.single_right,
.fsc3.single_bottom,
.fsc3.single_left,
.fsc3.single_horizontal,
.fsc3.single_vertical,
.fsc3.single_cross {
                height: 72px; width: 72px;
            }
 
        
            
            /* Animations */
            /* Animations */
            /* Animations */
            
             .liquid > div {
                    animation-name: liquid;
                    animation-duration: 1800ms;
                    animation-delay: 0ms;
                    animation-timing-function: steps(1);
                    animation-iteration-count: infinite;
                }
                @keyframes liquid {
                     
                from, to {
                    width: 24px;
                    height: 24px;
                    background-position: -0px -0px;
                }
                
 
                50% {
                    width: 24px;
                    height: 24px;
                    background-position: -24px -0px;
                }
                
                }
            
            
            /* Animation Sizes */
            /* Animation Sizes */
            /* Animation Sizes */
           
             .fsc3.liquid {
                height: 72px; width: 72px;
            }

 