
/*
   Computer Generated CSS,
   See README.md on how to (re)-generate
*/


.main_menu_background > div:first-child {
   background: url('./main_menu_background.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/*
fix container size scale 3
*/
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}


/*
fix container size scale 2
*/
.fsc2 {
    height: 48px !important;
    width: 48px !important;
}


/*
fix container size scale 1
*/
.fsc1 {
    height: 24px !important;
    width: 24px !important;
}


/*
 pccs  =[p]osition [c]enter [c]enter, [s]cale
*/

.pccs3 > div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(3);
    position: absolute;
    left: 50%;
    top: 50%;
}


/*
 pccs  =[p]osition [c]enter [c]enter, [s]cale
*/

.pccs2 > div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(2);
    position: absolute;
    left: 50%;
    top: 50%;
}


/*
 pccs  =[p]osition [c]enter [c]enter, [s]cale
*/

.pccs1 > div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    position: absolute;
    left: 50%;
    top: 50%;
}


/*
 pccs  =[p]osition [c]enter [c]enter, [s]cale
*/

.pccs0p6 > div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    position: absolute;
    left: 50%;
    top: 50%;
}


/*
Static Sprites
Static Sprites
Static Sprites
*/


  .main_menu_1 > div:first-child {
     background-position: -0px -0px;
     width: 1024px;
     height: 1024px;
  }
  

  .assassin > div:first-child {
     background-position: -1484px -492px;
     width: 307px;
     height: 337px;
  }
  

  .shaman > div:first-child {
     background-position: -1176px -104px;
     width: 330px;
     height: 389px;
  }
  

  .warrior > div:first-child {
     background-position: -1528px -157px;
     width: 407px;
     height: 330px;
  }
  

  .wizard > div:first-child {
     background-position: -1077px -574px;
     width: 261px;
     height: 368px;
  }
  

  .monsters > div:first-child {
     background-position: -0px -1443px;
     width: 597px;
     height: 411px;
  }
  

  .fog > div:first-child {
     background-position: -0px -1072px;
     width: 1025px;
     height: 350px;
  }
  

  .eyes_0 > div:first-child {
     background-position: -1029px -1100px;
     width: 38px;
     height: 42px;
  }
  

  .eyes_1 > div:first-child {
     background-position: -1191px -1111px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_2 > div:first-child {
     background-position: -1239px -1017px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_3 > div:first-child {
     background-position: -1319px -1034px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_4 > div:first-child {
     background-position: -1248px -1100px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_8 > div:first-child {
     background-position: -1223px -1173px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_11 > div:first-child {
     background-position: -1201px -1213px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_12 > div:first-child {
     background-position: -1249px -1246px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_18 > div:first-child {
     background-position: -1225px -1347px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_17 > div:first-child {
     background-position: -1159px -1360px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_16 > div:first-child {
     background-position: -1116px -1352px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_15 > div:first-child {
     background-position: -1072px -1332px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_14 > div:first-child {
     background-position: -1029px -1352px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_19 > div:first-child {
     background-position: -1086px -1401px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_21 > div:first-child {
     background-position: -1077px -1555px;
     width: 55px;
     height: 51px;
  }
  

  .eyes_20 > div:first-child {
     background-position: -1025px -1591px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_9 > div:first-child {
     background-position: -1272px -1169px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_5 > div:first-child {
     background-position: -1301px -1109px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_6 > div:first-child {
     background-position: -1438px -1073px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_7 > div:first-child {
     background-position: -1530px -1046px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_22 > div:first-child {
     background-position: -1643px -1065px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_24 > div:first-child {
     background-position: -1597px -1156px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_10 > div:first-child {
     background-position: -1354px -1172px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_13 > div:first-child {
     background-position: -1373px -1207px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_26 > div:first-child {
     background-position: -1540px -1233px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_33 > div:first-child {
     background-position: -1468px -1333px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_34 > div:first-child {
     background-position: -1467px -1383px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_35 > div:first-child {
     background-position: -1528px -1343px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_32 > div:first-child {
     background-position: -1553px -1307px;
     width: 51px;
     height: 29px;
  }
  

  .eyes_23 > div:first-child {
     background-position: -1764px -1097px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_25 > div:first-child {
     background-position: -1758px -1153px;
     width: 38px;
     height: 37px;
  }
  

  .eyes_27 > div:first-child {
     background-position: -1780px -1227px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_28 > div:first-child {
     background-position: -1825px -1219px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_29 > div:first-child {
     background-position: -1911px -1226px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_31 > div:first-child {
     background-position: -1932px -1260px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_30 > div:first-child {
     background-position: -1753px -1264px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_39 > div:first-child {
     background-position: -1804px -1299px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_37 > div:first-child {
     background-position: -1656px -1316px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_36 > div:first-child {
     background-position: -1630px -1376px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_38 > div:first-child {
     background-position: -1743px -1364px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_40 > div:first-child {
     background-position: -1873px -1351px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_41 > div:first-child {
     background-position: -1906px -1371px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_42 > div:first-child {
     background-position: -1951px -1373px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_43 > div:first-child {
     background-position: -1992px -1374px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_44 > div:first-child {
     background-position: -1626px -1607px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_52 > div:first-child {
     background-position: -1089px -1034px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_50 > div:first-child {
     background-position: -1897px -1598px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_51 > div:first-child {
     background-position: -1901px -1631px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_49 > div:first-child {
     background-position: -1859px -1613px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_48 > div:first-child {
     background-position: -1822px -1623px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_46 > div:first-child {
     background-position: -1767px -1592px;
     width: 32px;
     height: 32px;
  }
  

  .eyes_47 > div:first-child {
     background-position: -1762px -1618px;
     width: 46px;
     height: 34px;
  }
  

  .eyes_45 > div:first-child {
     background-position: -1666px -1616px;
     width: 65px;
     height: 50px;
  }
  

/*
Expanded sizes
Expanded sizes
Expanded sizes
*/





.pccs3.shaman {
    height: 1167px;
      width: 990px;
}


.pccs3.assassin {
    height: 1011px;
      width: 921px;
}


.pccs3.warrior {
    height: 990px;
      width: 1221px;
}


.pccs3.wizard {
    height: 1104px;
      width: 783px;
}


.pccs2.shaman {
    height: 778px;
      width: 660px;
}


.pccs2.assassin {
    height: 674px;
      width: 614px;
}


.pccs2.warrior {
    height: 660px;
      width: 814px;
}


.pccs2.wizard {
    height: 736px;
      width: 522px;
}


.pccs1.shaman {
    height: 389px;
      width: 330px;
}


.pccs1.assassin {
    height: 337px;
      width: 307px;
}


.pccs1.warrior {
    height: 330px;
      width: 407px;
}


.pccs1.wizard {
    height: 368px;
      width: 261px;
}


.pccs0p6.shaman {
    height: 233.39999999999998px;
      width: 198px;
}


.pccs0p6.assassin {
    height: 202.2px;
      width: 184.2px;
}


.pccs0p6.warrior {
    height: 198px;
      width: 244.2px;
}


.pccs0p6.wizard {
    height: 220.79999999999998px;
      width: 156.6px;
}
