
/*
   Computer Generated CSS,
   See README.md on how to (re)-generate
*/


.main_menu > div:first-child {
   background: url('./main_menu.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/*
fix container size scale 3
*/
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}


/*
fix container size scale 2
*/
.fsc2 {
    height: 48px !important;
    width: 48px !important;
}


/*
fix container size scale 1
*/
.fsc1 {
    height: 24px !important;
    width: 24px !important;
}


/*
plts3 = [p]osition [l]eft [t]op, [s]cale 3
*/
.plts3 > div:first-child {
   transform-origin: 0 0;
   transform: scale(3);
   position: absolute;
   left: 0;
   top: 0;
}


/*
plts1 = [p]osition [l]eft [t]op, [s]cale 1
*/
.plts1 > div:first-child {
   transform-origin: 0 0;
   transform: scale(1);
   position: absolute;
   left: 0;
   top: 0;
}


/*
plts2 = [p]osition [l]eft [t]op, [s]cale 2
*/
.plts2 > div:first-child {
   transform-origin: 0 0;
   transform: scale(2);
   position: absolute;
   left: 0;
   top: 0;
}


/*
Static Sprites
Static Sprites
Static Sprites
*/


  .main_menu_selection_btn > div:first-child {
     background-position: -6px -357px;
     width: 163px;
     height: 55px;
  }
  

  .main_menu_selection_btn:hover > div:first-child {
     background-position: -6px -431px;
     width: 163px;
     height: 55px;
  }
  

  .check_box > div:first-child {
     background-position: -204px -411px;
     width: 28px;
     height: 28px;
  }
  

  .check_mark > div:first-child {
     background-position: -204px -379px;
     width: 28px;
     height: 28px;
  }
  

  .volume_btn > div:first-child {
     background-position: -250px -403px;
     width: 12px;
     height: 34px;
  }
  

  .volume_bar > div:first-child {
     background-position: -205px -450px;
     width: 217px;
     height: 17px;
  }
  

  .close_volume_btn > div:first-child {
     background-position: -323px -407px;
     width: 27px;
     height: 27px;
  }
  

  .close_volume_btn_over > div:first-child {
     background-position: -353px -407px;
     width: 27px;
     height: 27px;
  }
  

  .resolution_apply_btn_hover > div:first-child {
     background-position: -368px -134px;
     width: 96px;
     height: 31px;
  }
  

  .resolution_apply_btn > div:first-child {
     background-position: -368px -98px;
     width: 96px;
     height: 31px;
  }
  

  .sub_menu > div:first-child {
     background-position: -2px -2px;
     width: 350px;
     height: 298px;
  }
  

  .left_arrow_active > div:first-child {
     background-position: -412px -36px;
     width: 32px;
     height: 32px;
  }
  

  .right_arrow_active > div:first-child {
     background-position: -446px -34px;
     width: 34px;
     height: 33px;
  }
  

  .left_arrow_inactive > div:first-child {
     background-position: -361px -17px;
     width: 26px;
     height: 28px;
  }
  

  .right_arrow_inactive > div:first-child {
     background-position: -391px -17px;
     width: 27px;
     height: 29px;
  }
  

  .logo > div:first-child {
     background-position: -1px -302px;
     width: 364px;
     height: 40px;
  }
  

  .btn_tab > div:first-child {
     background-position: -353px -169px;
     width: 158px;
     height: 65px;
  }
  

  .btn_tab_hover > div:first-child {
     background-position: -353px -235px;
     width: 158px;
     height: 65px;
  }
  

/*
Expanded sizes
Expanded sizes
Expanded sizes
*/


.plts3.main_menu_selection_btn,
.plts3.main_menu_selection_btn:hover {
    height: 165px;
      width: 489px;
}


.plts3.check_mark {
    height: 84px;
      width: 84px;
}


.plts3.volume_btn {
    height: 102px;
      width: 36px;
}


.plts3.volume_bar {
    height: 51px;
      width: 651px;
}


.plts3.close_volume_btn {
    height: 81px;
      width: 81px;
}


.plts3.resolution_apply_btn {
    height: 93px;
      width: 288px;
}


.plts3.sub_menu {
    height: 894px;
      width: 1050px;
}


.plts3.left_arrow_active {
    height: 96px;
      width: 96px;
}


.plts3.right_arrow_active {
    height: 99px;
      width: 102px;
}


.plts3.left_arrow_inactive {
    height: 84px;
      width: 78px;
}


.plts3.right_arrow_inactive {
    height: 87px;
      width: 81px;
}


.plts3.logo {
    height: 120px;
      width: 1092px;
}


.plts3.btn_tab {
    height: 195px;
      width: 474px;
}


.plts1.main_menu_selection_btn,
.plts1.main_menu_selection_btn:hover {
    height: 55px;
      width: 163px;
}


.plts1.check_mark {
    height: 28px;
      width: 28px;
}


.plts1.volume_btn {
    height: 34px;
      width: 12px;
}


.plts1.volume_bar {
    height: 17px;
      width: 217px;
}


.plts1.close_volume_btn {
    height: 27px;
      width: 27px;
}


.plts1.resolution_apply_btn {
    height: 31px;
      width: 96px;
}


.plts1.sub_menu {
    height: 298px;
      width: 350px;
}


.plts1.left_arrow_active {
    height: 32px;
      width: 32px;
}


.plts1.right_arrow_active {
    height: 33px;
      width: 34px;
}


.plts1.left_arrow_inactive {
    height: 28px;
      width: 26px;
}


.plts1.right_arrow_inactive {
    height: 29px;
      width: 27px;
}


.plts1.logo {
    height: 40px;
      width: 364px;
}


.plts1.btn_tab {
    height: 65px;
      width: 158px;
}


.plts2.main_menu_selection_btn,
.plts2.main_menu_selection_btn:hover {
    height: 110px;
      width: 326px;
}


.plts2.check_mark {
    height: 56px;
      width: 56px;
}


.plts2.volume_btn {
    height: 68px;
      width: 24px;
}


.plts2.volume_bar {
    height: 34px;
      width: 434px;
}


.plts2.close_volume_btn {
    height: 54px;
      width: 54px;
}


.plts2.resolution_apply_btn {
    height: 62px;
      width: 192px;
}


.plts2.sub_menu {
    height: 596px;
      width: 700px;
}


.plts2.left_arrow_active {
    height: 64px;
      width: 64px;
}


.plts2.right_arrow_active {
    height: 66px;
      width: 68px;
}


.plts2.left_arrow_inactive {
    height: 56px;
      width: 52px;
}


.plts2.right_arrow_inactive {
    height: 58px;
      width: 54px;
}


.plts2.logo {
    height: 80px;
      width: 728px;
}


.plts2.btn_tab {
    height: 130px;
      width: 316px;
}
