
/*
   Computer Generated CSS,
   See README.md on how to (re)-generate
*/


.main_menu > div:first-child {
   background: url('./main_menu.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/*
fix container size scale 3
*/
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}


/*
fix container size scale 2
*/
.fsc2 {
    height: 48px !important;
    width: 48px !important;
}


/*
fix container size scale 1
*/
.fsc1 {
    height: 24px !important;
    width: 24px !important;
}


/*
plts3 = [p]osition [l]eft [t]op, [s]cale 3
*/
.plts3 > div:first-child {
   transform-origin: 0 0;
   transform: scale(3);
   position: absolute;
   left: 0;
   top: 0;
}


/*
plts1 = [p]osition [l]eft [t]op, [s]cale 1
*/
.plts1 > div:first-child {
   transform-origin: 0 0;
   transform: scale(1);
   position: absolute;
   left: 0;
   top: 0;
}


/*
plts2 = [p]osition [l]eft [t]op, [s]cale 2
*/
.plts2 > div:first-child {
   transform-origin: 0 0;
   transform: scale(2);
   position: absolute;
   left: 0;
   top: 0;
}


/*
Static Sprites
Static Sprites
Static Sprites
*/


  .main_menu_selection_btn > div:first-child {
     background-position: -6px -357px;
     width: 163px;
     height: 55px;
  }
  

  .main_menu_selection_btn:hover > div:first-child {
     background-position: -6px -431px;
     width: 163px;
     height: 55px;
  }
  

  .check_box > div:first-child {
     background-position: -204px -411px;
     width: 28px;
     height: 28px;
  }
  

  .check_mark > div:first-child {
     background-position: -204px -379px;
     width: 28px;
     height: 28px;
  }
  

  .volume_btn > div:first-child {
     background-position: -250px -403px;
     width: 12px;
     height: 34px;
  }
  

  .volume_bar > div:first-child {
     background-position: -205px -450px;
     width: 217px;
     height: 17px;
  }
  

  .close_volume_btn > div:first-child {
     background-position: -323px -407px;
     width: 27px;
     height: 27px;
  }
  

  .close_volume_btn_over > div:first-child {
     background-position: -353px -407px;
     width: 27px;
     height: 27px;
  }
  

  .resolution_apply_btn_hover > div:first-child {
     background-position: -368px -134px;
     width: 96px;
     height: 31px;
  }
  

  .resolution_apply_btn > div:first-child {
     background-position: -368px -98px;
     width: 96px;
     height: 31px;
  }
  

  .sub_menu > div:first-child {
     background-position: -2px -2px;
     width: 350px;
     height: 298px;
  }
  

  .left_arrow_active > div:first-child {
     background-position: -412px -36px;
     width: 32px;
     height: 32px;
  }
  

  .right_arrow_active > div:first-child {
     background-position: -446px -34px;
     width: 34px;
     height: 33px;
  }
  

  .left_arrow_inactive > div:first-child {
     background-position: -361px -17px;
     width: 26px;
     height: 28px;
  }
  

  .right_arrow_inactive > div:first-child {
     background-position: -391px -17px;
     width: 27px;
     height: 29px;
  }
  

  .logo > div:first-child {
     background-position: -1px -302px;
     width: 364px;
     height: 40px;
  }
  

  .btn_tab > div:first-child {
     background-position: -353px -169px;
     width: 158px;
     height: 65px;
  }
  

  .btn_tab_hover > div:first-child {
     background-position: -353px -235px;
     width: 158px;
     height: 65px;
  }
  

/*
Expanded sizes
Expanded sizes
Expanded sizes
*/


.plts3.main_menu_selection_btn {
    height: 165px;
      width: 489px;
}


.plts1.main_menu_selection_btn {
    height: 55px;
      width: 163px;
}


.plts2.main_menu_selection_btn {
    height: 110px;
      width: 326px;
}
