
/*  
   Computer Generated CSS, 
   See README.md on how to (re)-generate 
*/


.main_menu_background_3ds > div:first-child {
   background: url('./main_menu_background_3ds.png');
   background-origin: border-box;
   image-rendering: pixelated;
   z-index: 1;
}


/* 
fix container size scale 3 
*/    
.fsc3 {
    height: 72px !important;
    width: 72px !important;
}        


/* 
fix container size scale 1 
*/    
.fsc1 {
    height: 24px !important;
    width: 24px !important;
}        


/* 
 pccs  =[p]osition [c]enter [c]enter, [s]cale  
*/

.pccs3 > div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(3);
    position: absolute;
    left: 50%;
    top: 50%;
}


/* 
 pccs  =[p]osition [c]enter [c]enter, [s]cale  
*/

.pccs1 > div:first-child {
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    position: absolute;
    left: 50%;
    top: 50%;
}


/* 
Static Sprites
Static Sprites 
Static Sprites 
*/        


.main_menu_1 > div:first-child {
   background-position: -1px -1px;
   width: 154px;
   height: 126px;
}


.assassin > div:first-child {
   background-position: -407px -138px;
   width: 102px;
   height: 117px;
}


.shaman > div:first-child {
   background-position: -273px -128px;
   width: 131px;
   height: 128px;
}


.warrior > div:first-child {
   background-position: -0px -132px;
   width: 127px;
   height: 105px;
}


.wizard > div:first-child {
   background-position: -428px -0px;
   width: 84px;
   height: 123px;
}


.monsters > div:first-child {
   background-position: -170px -83px;
   width: 75px;
   height: 45px;
}


.fog > div:first-child {
   background-position: -300px -83px;
   width: 129px;
   height: 44px;
}


.eyes_0 > div:first-child {
   background-position: -129px -138px;
   width: 5px;
   height: 6px;
}


.eyes_1 > div:first-child {
   background-position: -149px -139px;
   width: 4px;
   height: 4px;
}


.eyes_2 > div:first-child {
   background-position: -155px -128px;
   width: 4px;
   height: 4px;
}


.eyes_3 > div:first-child {
   background-position: -165px -130px;
   width: 4px;
   height: 4px;
}


.eyes_4 > div:first-child {
   background-position: -156px -138px;
   width: 4px;
   height: 4px;
}


.eyes_8 > div:first-child {
   background-position: -153px -147px;
   width: 4px;
   height: 4px;
}


.eyes_11 > div:first-child {
   background-position: -151px -152px;
   width: 4px;
   height: 4px;
}


.eyes_12 > div:first-child {
   background-position: -157px -156px;
   width: 4px;
   height: 4px;
}


.eyes_18 > div:first-child {
   background-position: -154px -169px;
   width: 4px;
   height: 4px;
}


.eyes_17 > div:first-child {
   background-position: -145px -170px;
   width: 4px;
   height: 4px;
}


.eyes_16 > div:first-child {
   background-position: -140px -169px;
   width: 4px;
   height: 4px;
}


.eyes_15 > div:first-child {
   background-position: -134px -167px;
   width: 4px;
   height: 4px;
}


.eyes_14 > div:first-child {
   background-position: -129px -169px;
   width: 4px;
   height: 4px;
}


.eyes_19 > div:first-child {
   background-position: -136px -176px;
   width: 4px;
   height: 4px;
}


.eyes_21 > div:first-child {
   background-position: -135px -195px;
   width: 7px;
   height: 7px;
}


.eyes_20 > div:first-child {
   background-position: -129px -199px;
   width: 4px;
   height: 4px;
}


.eyes_9 > div:first-child {
   background-position: -159px -147px;
   width: 4px;
   height: 4px;
}


.eyes_5 > div:first-child {
   background-position: -163px -139px;
   width: 4px;
   height: 4px;
}


.eyes_6 > div:first-child {
   background-position: -180px -135px;
   width: 4px;
   height: 4px;
}


.eyes_7 > div:first-child {
   background-position: -192px -131px;
   width: 4px;
   height: 4px;
}


.eyes_22 > div:first-child {
   background-position: -206px -134px;
   width: 4px;
   height: 4px;
}


.eyes_24 > div:first-child {
   background-position: -200px -145px;
   width: 4px;
   height: 4px;
}


.eyes_10 > div:first-child {
   background-position: -170px -147px;
   width: 4px;
   height: 4px;
}


.eyes_13 > div:first-child {
   background-position: -172px -151px;
   width: 4px;
   height: 4px;
}


.eyes_26 > div:first-child {
   background-position: -193px -155px;
   width: 4px;
   height: 4px;
}


.eyes_33 > div:first-child {
   background-position: -184px -167px;
   width: 4px;
   height: 4px;
}


.eyes_34 > div:first-child {
   background-position: -184px -173px;
   width: 4px;
   height: 4px;
}


.eyes_35 > div:first-child {
   background-position: -191px -168px;
   width: 4px;
   height: 4px;
}


.eyes_32 > div:first-child {
   background-position: -195px -164px;
   width: 7px;
   height: 4px;
}


.eyes_23 > div:first-child {
   background-position: -221px -138px;
   width: 4px;
   height: 4px;
}


.eyes_25 > div:first-child {
   background-position: -220px -145px;
   width: 5px;
   height: 5px;
}


.eyes_27 > div:first-child {
   background-position: -223px -154px;
   width: 4px;
   height: 4px;
}


.eyes_28 > div:first-child {
   background-position: -229px -153px;
   width: 4px;
   height: 4px;
}


.eyes_29 > div:first-child {
   background-position: -239px -154px;
   width: 4px;
   height: 4px;
}


.eyes_31 > div:first-child {
   background-position: -242px -158px;
   width: 4px;
   height: 4px;
}


.eyes_30 > div:first-child {
   background-position: -220px -158px;
   width: 4px;
   height: 4px;
}


.eyes_39 > div:first-child {
   background-position: -226px -163px;
   width: 4px;
   height: 4px;
}


.eyes_37 > div:first-child {
   background-position: -207px -165px;
   width: 4px;
   height: 4px;
}


.eyes_36 > div:first-child {
   background-position: -204px -172px;
   width: 4px;
   height: 4px;
}


.eyes_38 > div:first-child {
   background-position: -218px -171px;
   width: 4px;
   height: 4px;
}


.eyes_40 > div:first-child {
   background-position: -235px -169px;
   width: 4px;
   height: 4px;
}


.eyes_41 > div:first-child {
   background-position: -239px -172px;
   width: 4px;
   height: 4px;
}


.eyes_42 > div:first-child {
   background-position: -244px -172px;
   width: 4px;
   height: 4px;
}


.eyes_43 > div:first-child {
   background-position: -249px -172px;
   width: 4px;
   height: 4px;
}


.eyes_44 > div:first-child {
   background-position: -204px -201px;
   width: 4px;
   height: 4px;
}


.eyes_52 > div:first-child {
   background-position: -137px -130px;
   width: 4px;
   height: 4px;
}


.eyes_50 > div:first-child {
   background-position: -238px -200px;
   width: 4px;
   height: 4px;
}


.eyes_51 > div:first-child {
   background-position: -238px -204px;
   width: 4px;
   height: 4px;
}


.eyes_49 > div:first-child {
   background-position: -233px -202px;
   width: 4px;
   height: 4px;
}


.eyes_48 > div:first-child {
   background-position: -228px -203px;
   width: 4px;
   height: 4px;
}


.eyes_46 > div:first-child {
   background-position: -221px -199px;
   width: 4px;
   height: 4px;
}


.eyes_47 > div:first-child {
   background-position: -221px -203px;
   width: 6px;
   height: 5px;
}


.eyes_45 > div:first-child {
   background-position: -209px -202px;
   width: 9px;
   height: 7px;
}


.logo > div:first-child {
   background-position: -156px -0px;
   width: 271px;
   height: 83px;
}


.japanese_pub_legal > div:first-child {
   background-position: -0px -241px;
   width: 273px;
   height: 12px;
}


/* 
Expanded sizes
Expanded sizes
Expanded sizes 
*/      




