
            /*  Computer Generated CSS, */
            
            
        
        /* SpriteSheet */
        /* SpriteSheet */
        /* SpriteSheet */
        
        .shopkeeper > div {
            background: url('./shopkeeper.png');
            background-origin: border-box;
            image-rendering: pixelated;
        }

        /* general sizing */
        /* general sizing */
        /* general sizing */

        .super>div,
        .boss>div,
        .normal>div {
            transform-origin: 0 0;
            position: absolute;
        }

        .normal>div {
            transform: scale(2);
        }

        .boss.super>div {
            transform: scale(7);
        }

        .boss>div {
            transform: scale(2.5);
        }

        .super.boss.look-right>div,
        .normal.look-right>div,
        .boss.look-right>div {
            transform-origin: right top;
        }

        .normal.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(2);
        }

        .boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(2.5);
        }

        .super.boss.look-right>div {
            transform: scaleX(-1) translateX(100%) scale(7);
        }

        .smooth,
        .smooth>div {
            transition: all 2s;
        }

        .smooth {
            outline: 2px green dashed;
        }

        .smooth>div {
            outline: 2px red dashed;
        }

             
        
        /* Static Sprites */
        /* Static Sprites */
        /* Static Sprites */
        
        
        
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        /* Static Sprites Sizes */
        
        
         


        
            
            /* Animations */
            /* Animations */
            /* Animations */
            
             .shopkeeper_idle > div {
                    animation-name: shopkeeper_idle;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-timing-function: steps(1);
                    animation-iteration-count: infinite;
                }
                @keyframes shopkeeper_idle {
                     
                from, to {
                    width: 24px;
                    height: 24px;
                    background-position: -96px -0px;
                }
                
 
                50% {
                    width: 24px;
                    height: 24px;
                    background-position: -96px -24px;
                }
                
                }
            
            
            /* Animation Sizes */
            /* Animation Sizes */
            /* Animation Sizes */
            
             .normal.shopkeeper_idle {
                height: 48px; width: 48px;
            }

 .boss.shopkeeper_idle {
                height: 60px; width: 60px;
            }

 .boss.super.shopkeeper_idle {
                height: 168px; width: 168px;
            }
        