@font-face {
    font-family: 'VISITOR TT1 BRK';
    src: url(./visitor1.ttf);
}

@font-face {
    font-family: 'VISITOR TT2 BRK';
    src: url(./visitor2.ttf);
}

.f1 { 
    font-family: 'VISITOR TT1 BRK';
}

.f2 {
    font-family: 'VISITOR TT2 BRK';
}
