@import "reset";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: black;
}

.app-mount-point {
    position: relative;
    height: 100%;
    width: 100%;
  
}

/* general stuff */
.red-dot {
    position: absolute;
    background: red;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    left: 0;
    top: 0;
    z-index: 99999999;
}

.red-dot.s5 {
    width: 5px;
    height: 5px;
}

.red-dot.s10 {
    width: 10px;
    height: 10px;
}

.red {
    color: red;
}

.gray {
    color: #7f7f7f;
}

.s14 {
    font-size: 14px;
}

.s16 {
    font-size: 16px;
}

.s20 {
    font-size: 20px;
}

.s22 {
    font-size: 20px;
}


.s24 {
    font-size: 24px;
}

.zI1 {
    z-index: 1;
}