@import "reset";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: black;
}

.app-mount-point {
    position: relative;
    height: 100%;
    width: 100%;
  
}

/* general stuff */
.red-dot {
    position: absolute;
    background: red;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    left: 0;
    top: 0;
    z-index: 99999999;
}

.red-dot.s5 {
    width: 5px;
    height: 5px;
}

.red-dot.s10 {
    width: 10px;
    height: 10px;
}