@import "reset";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: black;
}

.app-mount-point {
    position: relative;
    height: 100%;
    width: 100%;
    border: 4px solid orange;
}

