@import "reset";
$container-padding: 1em;
html,
body, .main {
    height: 100%;
    width: 100%;
}

body {
    background: black;
}


.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-cup {
    background: rgb(255, 255, 255);
    /*width: calc( 100% - 2px );*/
    /*height: calc( 100% - #{$container-padding} );*/
    /* overflow:hidden;*/
    border: 1px black solid;
    background-image: url('./entities/enemies.png');
}